@using AgroFichasWeb.Models

@model List<rpt_CTR_DetalleControlDiarioRomanaPorEmpresaResult>
@{
    ViewBag.Title = "Informe General";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";

    var controlTiempo = (CTR_ControlTiempo)ViewData["controlTiempo"];
    //var controlesTiempoResumen = (rpt_CTR_ResumenControlDiarioRomanaPorEmpresaResult)ViewData["controlesTiempoResumen"];
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
    var plantas = (IEnumerable<SelectListItem>)ViewData["PlantasProduccion"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetimepicker-2.5.11/jquery.datetimepicker.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
    <script src="@Url.Content("~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": false,
            "iDisplayLength": 200,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            },
        });
        //DATETIMEPICKER
        jQuery.datetimepicker.setLocale('es');
        jQuery('#dateTime1').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            step: 1,
            timepicker: false,
            todayButton: true,
            value: null,
            weeks: true
        });
    </script>
}

<section role="main" class="content-body">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Filtros de Búsqueda</h2>
                </header>
                <div class="panel-body">
                    <div class="form-inline center">
                        @using (Html.BeginForm("InformeTiempoRomana", "InformesControlTiempo", FormMethod.Get))
                        {
                            <div class="form-group">
                                @Html.DropDownList("IdPlantaProduccion", plantas, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("IdEmpresa", controlTiempo.GetEmpresas(controlTiempo.IdEmpresa), "(Todas las Empresas)", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("Fecha", controlTiempo.FechaHoraIns, new { @class = "form-control", id = "dateTime1" })
                            </div>
                            <div class="visible-sm clearfix mt-sm mb-sm"></div>
                            <input class="btn btn-default" type="submit" value="Filtrar" />
                            <div class="clearfix visible-xs mb-sm"></div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>

<section class="panel">
    <div class="panel-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-md">
                        <h2 class="h2 mb-sm text-dark text-weight-bold">INFORME DIARIO DE ESPERA DE CAMIONES EN PLANTA</h2>
                    </div>
                    <div class="col-sm-6 text-right mt-md mb-md">
                        <address class="ib mr-xlg">
                            @controlTiempo.GetEmpresa(controlTiempo.IdEmpresa.Value).Nombre
                            <br />
                            Fecha @string.Format("{0:dd/MM/yy}", controlTiempo.FechaHoraIns)
                        </address>
                        @*<div class="ib">
                                <img src="@Url.Content("~/Content/images/avenatop.png")" alt="Agrotop" />
                            </div>*@
                    </div>
                </div>
            </header>
            <header class="clearfix">
                <div class="bill-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bill-to">
                                <div class="text-left">
                                    <table class="table h5 text-dark" style="border: none">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Envase</th>
                                                <th>Ent. Romana</th>
                                                <th>Sal. Romana</th>
                                                <th>Tiempo Romana</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr valign="top">
                                                    <td>@item.Producto</td>
                                                    <td>@item.Envase</td>
                                                    <td>@string.Format("{0:dd/MM/yy HH:mm:ss}", item.FechaPesajeInicial)</td>
                                                    <td>@string.Format("{0:dd/MM/yy HH:mm:ss}", item.FechaPesajeFinal)</td>
                                                    <td>@TimeSpan.FromMinutes(item.Romana)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <header class="clearfix">
                <div class="bill-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bill-to">
                                <div class="text-left">
                                    <table class="table h5 text-dark" style="border: none">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Envase</th>
                                                <th>N° Camiones</th>
                                                <th>Tiempo Prom. Romana</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (rpt_CTR_ResumenControlDiarioRomanaPorEmpresaResult item in controlTiempo.GetResumenDiario())
                                            {
                                                <tr valign="top">
                                                    <td>@item.Producto</td>
                                                    <td>@item.Envase</td>
                                                    <td>@item.NControles</td>
                                                    <td>@TimeSpan.FromMinutes(item.Romana.Value)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="text-right mr-lg">
            <a href="@Url.Action("PrintInformeTiempoRomana", "InformesControlTiempo", new {IdEmpresa=controlTiempo.IdEmpresa,Fecha=controlTiempo.FechaHoraIns })" target="_blank" class="btn btn-primary ml-sm"><i class="fa fa-print"></i> Imprimir</a>
        </div>
    </div>
</section>