@using AgroFichasWeb.Models
@model CAL_OrdenProduccion
@{
    ViewBag.Title = "Órdenes de Producción";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";

    if (Model.IdOrdenProduccion == 0)
    {
        ViewBag.SubTitle = "Crear Orden de Producción";
    }
    else
    {
        ViewBag.SubTitle = "Editar Orden de Producción";
    }
}
@section VendorCSS
{
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetimepicker-2.5.11/jquery.datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/bootstrap-multiselect/bootstrap-multiselect.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link href="@Url.Content("~/Content/porto/vendor/sweetalert/dist/sweetalert.css")" rel="stylesheet" />
}
@section VendorScripts
{
    <!-- Specific Page Vendor -->
    <script src="@Url.Content("~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/bootstrap-multiselect/bootstrap-multiselect.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/javascripts/ui-elements/jquery.sweet-alert.init.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/sweetalert/dist/sweetalert.min.js")"></script>

    }
    @section CustomScripts
{
        <script>
        var urlGeneral = '@Url.Content("~/")';
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });

        jQuery.datetimepicker.setLocale('es');
        jQuery('#Fecha').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            startDate: new Date(),
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            timepicker: false,
            todayButton: true,
            value: '@string.Format("{0:yyyy/MM/dd}", (Model.Fecha == null ? DateTime.Now : Model.Fecha))',
            weeks: true
        });

        jQuery('#FechaZarpe').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            startDate: new Date(),
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            timepicker: false,
            todayButton: true,
            value: '@string.Format("{0:yyyy/MM/dd}", (Model.FechaZarpe == null ? DateTime.Now : Model.FechaZarpe))',
            weeks: true
        });

        jQuery('#InicioProduccion').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            startDate: new Date(),
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            timepicker: false,
            todayButton: true,
            value: '@string.Format("{0:yyyy/MM/dd}", (Model.InicioProduccion == null ? DateTime.Now : Model.InicioProduccion))',
            weeks: true
        });

        jQuery('#TerminoProduccion').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            startDate: new Date(),
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            timepicker: false,
            todayButton: true,
            value: '@string.Format("{0:yyyy/MM/dd}", (Model.TerminoProduccion == null ? DateTime.Now : Model.TerminoProduccion))',
            weeks: true
        });

        // Llamado al API de Empresas Agrotop

        var uri = '@ApiRealUrl.GetApiUrl()';

        function SetCargando(element) {
            var options = [];
            options.push('<option value="', '', '">', 'Cargando...', '</option>');
            element.html(options.join(''));
        }

        function DeleteConsignatarios() {
            $("#IdCliente option").remove();
            var options = [];
            options.push('<option value="',
                '', '">',
                '(Seleccione Consignatario)', '</option>');
            $("#IdCliente").html(options.join(''));
        }

        function DeleteBarcos() {
            $("#IdBarco option").remove();
            var options = [];
            options.push('<option value="',
                '', '">',
                '(Seleccione Barco)', '</option>');
            $("#IdBarco").html(options.join(''));
        }

        function GetConsignatarios() {
            var id = $('#IdExportador').val();
            if (!jQuery.isEmptyObject(id)) {
                SetCargando($('#IdCliente'));
            }
            $.getJSON(uri + '/Consignatarios/Get?id=' + id)
                .done(function (result) {
                    var options = [];

                    if (result.length == 0) {
                        alert("No hay consignatarios disponibles");
                        DeleteConsignatarios();
                    }
                    else {
                        options.push('<option value="',
                            '', '">',
                            '(Seleccione Consignatario)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="',
                                result[i].IdConsignatario, '">',
                                result[i].Nombre, '</option>');
                        }
                        $("#IdCliente").html(options.join(''));

                        var idConsignatario = '@(Model.IdCliente == 0 ? "" : Model.IdCliente.ToString())';
                        var idEmbarcador = '@(Model.IdExportador == 0 ? "" : Model.IdExportador.ToString())';
                        if (!$.isEmptyObject(idConsignatario) && id == idEmbarcador) {
                            $("#IdCliente").val(idConsignatario);
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function GetBarcos() {
            var id = $('#IdCarrier').val();
            if (!jQuery.isEmptyObject(id)) {
                SetCargando($('#IdBarco'));
            }
            $.getJSON(uri + '/Barcos/Get?id=' + id)
                .done(function (result) {
                    var options = [];

                    if (result.length == 0) {
                        alert("No hay barcos disponibles");
                        DeleteConsignatarios();
                    }
                    else {
                        options.push('<option value="','', '">','(Seleccione Barco)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="',
                                result[i].IdBarco, '">',
                                result[i].Nombre, '</option>');
                        }
                        $("#IdBarco").html(options.join(''));

                        var idBarco = '@(Model.IdBarco == 0 ? "" : Model.IdBarco.ToString())';
                        if (!$.isEmptyObject(idBarco)) {
                            $("#IdBarco").val(idBarco);
                        }
                    }

                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        $("#IdExportador").change(function () {
            DeleteConsignatarios();
            GetConsignatarios();
        });

        $("#IdCarrier").change(function () {
            DeleteBarcos();
            GetBarcos();
        });

        $(document).ready(function () {
            if ($("#IdExportador").val() != 0) {
                DeleteConsignatarios();
                GetConsignatarios();
            }

            if ($("#IdCarrier").val() != 0) {
                DeleteBarcos();
                GetBarcos();
            }

            GetFamiliaProductos();
        });

        // dec2hex :: Integer -> String
        function dec2hex(dec) {
            return ('0' + dec.toString(16)).substr(-2)
        }

        // generateId :: Integer -> String
        function generateId(len) {
            var arr = new Uint8Array((len || 40) / 2)
            window.crypto.getRandomValues(arr)
            return Array.from(arr, dec2hex).join('')
        }

        function RefrescaProducto() {
            var arr = [];
            var i = 0;
            $('.idProducto').each(function (index, element) {
                i++;
                arr.push({ idProducto: $(this).val() });
            });
        }

        function RecalcularCntSaco(rowKey) {
            var PesoSaco = $("#cal-PesoSaco-" + rowKey).val();
            if (PesoSaco == "") {
                alert("Debe seleccionar el peso del saco");
                return;
            }

            var SacosPorContenedor = $("#cal-SacosPorContenedor-" + rowKey).val();
            var cntCont = $("#cal-cntCont-" + rowKey).val();

            $("#cal-cntSaco-" + rowKey).val(Math.round(SacosPorContenedor * cntCont));
            $("#cal-cntSaco-" + rowKey).change();
        }

        function RecalcularCntProd(rowKey) {
            var PesoSaco = $("#cal-PesoSaco-" + rowKey).find(':selected').text();
            if (PesoSaco == "") {
                console.log("Debe seleccionar el peso del saco");
                return;
            }

            var cntSaco = $("#cal-cntSaco-" + rowKey).val();

            $("#cal-cntProd-" + rowKey).val(((PesoSaco * cntSaco) / 1000).toFixed(2));
        }

        function AgregarProducto() {
            var id = $('#idProducto').find(':selected').val();
            if (id === '') {
                alert("Debe seleccionar un producto");
                return;
            }

            var text   = $('#idProducto').find(':selected').text();
            var sptext = text.split();
            var genId = generateId(40);

            var onchangePesoSaco = "GetPesoSaco('cal-Saco-" + genId + "')";

            var newtr  = '<tr class="item" data-id="' + id + '">';
            newtr += '<td class="iProduct">' + text + '</td>';
            newtr += '<td><select class="form-control" id="cal-Espesor-'            + genId + '" name="Espesor_'            + genId + '">' + GetEspesores('cal-Espesor-' + genId + '') + '</select></td>';
            newtr += '<td><select class="form-control" id="cal-Saco-'               + genId + '" name="Saco_'               + genId + '" onchange="' + onchangePesoSaco + '">' + GetSacos('cal-Saco-' + genId + '') + '</select></td>';
            newtr += '<td><select class="form-control" id="cal-PesoSaco-'           + genId + '" name="PesoSaco_'           + genId + '" onchange="RecalcularCntSaco(\'' + genId +'\')"><option value="">(Seleccione Peso Saco)</option></select></td>';
            newtr += '<td><select class="form-control" id="cal-Contenedor-'         + genId + '" name="Contenedor_'         + genId + '">' + GetContenedores('cal-Contenedor-' + genId + '') + '</select></td>';
            newtr += '<td><input  class="form-control" id="cal-SacosPorContenedor-' + genId + '" name="SacosPorContenedor_' + genId + '" value="0" onkeyup="RecalcularCntSaco(\'' + genId +'\')" required /></td>';
            newtr += '<td><input  class="form-control" id="cal-cntCont-'            + genId + '" name="cntCont_'            + genId + '" value="0" onkeyup="RecalcularCntSaco(\'' + genId + '\')" required /></td>';
            newtr += '<td><input  class="form-control" id="cal-cntSaco-'            + genId + '" name="cntSaco_'            + genId + '" value="0" onchange="RecalcularCntProd(\'' + genId +'\')"  required readonly /></td>';
            newtr += '<td><input  class="form-control" id="cal-cntProd-'            + genId + '" name="cntProd_' + genId + '" value="0" required readonly /></td>';
            newtr += '<td><button type="button" class="btn btn-danger btn-xs remove-item" data-datakey="' + genId + '"><i class="fa fa-times"></i></button></td>';
            newtr += '</tr>';

            $('#ProductoSelected').append(newtr);

            //Hidden Keys
            var hiddenKeys = '';
            hiddenKeys += '<input type="hidden" id="idProducto_' + genId + '" name="idProducto_' + genId + '" value="' + id + '" />';
            hiddenKeys += '<input type="hidden" id="RowKey_' + genId + '" name="RowKey" value="' + genId + '" />';
            $("#cal-HiddenKeys").append(hiddenKeys);

            RefrescaProducto();

            $('.remove-item').off().click(function (e) {

                var datakey = $(this).data("datakey");
                $("#idProducto_" + datakey).remove();
                $("#RowKey_" + datakey).remove();

                $(this).parent('td').parent('tr').remove();
                if ($('#ProductoSelected tr.item').length == 0)
                    $('#ProductoSelected .no-item').slideDown(300);
                RefrescaProducto();
            });

            $('.idProducto').off().change(function (e) {
                RefrescaProducto();
            });
        }

        function GetFamiliaProductos() {
            SetCargando($("#idProducto"));
            $.getJSON(uri + '/FamiliaProductos/Get')
                .done(function (result) {
                    var options = [];

                    if (result.length == 0) {
                        alert("No hay productos disponibles");
                    }
                    else {
                        options.push('<option value="">', '(Seleccione Producto)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<optgroup id="cal-FamiliaProductos-' + result[i].IdFamiliaProducto + '" label="FAMILIA: ' + result[i].Nombre + '">');
                            options.push('</optgroup>');
                        }
                        $("#idProducto").html(options.join(''));

                        GetProductos();
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function GetProductos() {
            $.getJSON(uri + '/FamiliaProductos/GetProductos')
                .done(function (result) {
                    if (result.length == 0) {
                        alert("No hay productos disponibles");
                    }
                    else {
                        for (var i = 0; i < result.length; i++) {
                            var id = result[i].FamiliaProducto.IdFamiliaProducto;
                            $("#cal-FamiliaProductos-" + id).append('<option value=' + result[i].IdProducto + '">' + result[i].Nombre + '</option>');
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function GetEspesores(id) {
            SetCargando($("#" + id));
            $.getJSON(uri + '/Espesores/GetEspesorProducto')
                .done(function (result) {
                    var options = [];

                    if (result.length == 0) {
                        alert("No hay espesores disponibles");
                    }
                    else {
                        options.push('<option value="', '', '">', '(Seleccione Espesor)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="', result[i].IdEspesor, '">', result[i].Min.toFixed(2).replace(".", ","), '-', result[i].Max.toFixed(2).replace(".", ","), '</option>');
                        }

                        $($("#" + id)).html(options.join(''));
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function GetSacos(id) {
            SetCargando($("#" + id));
            $.getJSON(uri + '/Sacos/Get')
                .done(function (result) {
                    var options = [];

                    if (result.length == 0) {
                        alert("No hay sacos disponibles");
                    }
                    else {
                        options.push('<option value="', '', '">', '(Seleccione Saco)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="', result[i].IdSaco, '">', result[i].Nombre, '</option>');
                        }

                        $($("#" + id)).html(options.join(''));

                        if ($("#" + id).val() != "") {
                            GetPesoSaco(id);
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function GetPesoSaco(id) {
            var rowKey = id.replace("cal-Saco-", "");
            var idSaco = $("#" + id).val();
            if (idSaco == "") {
                alert("Debe seleccionar el saco");
                return;
            }
            SetCargando($("#cal-PesoSaco-" + rowKey));
            $.getJSON(uri + '/Sacos/GetPesoSaco?IdSaco=' + idSaco)
                .done(function (result) {
                    var options = [];

                    if (result == null || result.length == 0) {
                        alert("No hay pesos disponibles");
                    }
                    else {
                        options.push('<option value="', '', '">', '(Seleccione Peso Saco)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="', result[i].IdPesoSaco, '">', result[i].Peso, '</option>');
                        }

                        $($("#cal-PesoSaco-" + rowKey)).html(options.join(''));
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function GetContenedores(id) {
            SetCargando($("#" + id));
            $.getJSON(uri + '/Contenedores/Get')
                .done(function (result) {
                    var options = [];

                    if (result.length == 0) {
                        alert("No hay contenedores disponibles");
                    }
                    else {
                        options.push('<option value="', '', '">', '(Seleccione Contenedor)', '</option>');
                        for (var i = 0; i < result.length; i++) {
                            options.push('<option value="', result[i].IdContenedor, '">', result[i].Nombre, '</option>');
                        }

                        $($("#" + id)).html(options.join(''));
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(err);
                });
        }

        function ValidarFormulario() {
            var LoteComercial = $("#LoteComercial").val();
            var IdExportador = $("#IdExportador").val();
            var IdCliente = $("#IdCliente").val();
            var PaisCodigo = $("#PaisCodigo").val();
            var IdCarrier = $("#IdCarrier").val();
            var IdBarco = $("#IdBarco").val();
            var FechaZarpe = $("#FechaZarpe").val();
            var IdsTransportistas = $("#IdsTransportistas").val();

            if (LoteComercial.length == 0) {
                alert("Ingrese el lote comercial")
                return false;
            }

            if (IdExportador.length == 0) {
                alert("Seleccione un embarcador")
                return false;
            }

            if (IdCliente.length == 0) {
                alert("Seleccione un consignatario")
                return false;
            }

            if (PaisCodigo.length == 0) {
                alert("Seleccione un país")
                return false;
            }

            if (IdCarrier.length == 0) {
                alert("Seleccione un carrier")
                return false;
            }

            if (IdBarco.length == 0) {
                alert("Seleccione un barco")
                return false;
            }

            if (FechaZarpe.length == 0) {
                alert("Ingrese una fecha de zarpe")
                return false;
            }

            if (IdsTransportistas.length == 0) {
                alert("Ingrese al menos un transportista")
                return false;
            }

            return true;
        }

        function CrearEspesor() {
            var maximo = $("#Max").val();
            var minimo = $("#Min").val();

            if (maximo.length == 0) {
                alert("El valor máximo no puede ir vacío!!!")
                return
            }

            if (minimo.length == 0) {
                alert("El valor mínimo no puede ir vacío!!!")
                return
            }

            $.ajax({
                type: "POST",
                url: urlGeneral + 'CALOrdenesProduccion/CrearEspesor',
                data: { Max: maximo, Min: minimo },
                success: function (response) {
                    if (response.IsSuccess) {
                        swal({
                            title: "Todo ha salido bien",
                            text: response.Message,
                            type: "success",
                            confirmButtonColor: '#DD6B55',
                            confirmButtonText: 'Continuar',
                            closeOnConfirm: false
                        });
                    } else {
                        alert(response.Message)
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            });

        }

        </script>
    }

    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">@ViewBag.SubTitle</h2>
                </header>
                <form action="/CALOrdenesProduccion/Crear" method="post" onsubmit="return ValidarFormulario();">
                    <div class="panel-body">
                        <div class="form-horizontal form-bordered">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Planta Producción <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("IdPlanta", Model.GetPlantaProduccion(Model.IdPlanta), new { @class = "form-control" })
                                            @Html.ValidationMessage("IdPlanta")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Fecha de Creación de la O/P <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBox("Fecha", Model.Fecha, new { @class = "form-control", maxlength = "50" })
                                            @Html.ValidationMessage("Fecha")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Lote Comercial <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBox("LoteComercial", Model.LoteComercial, new { @class = "form-control", maxlength = "50" })
                                            @Html.ValidationMessage("LoteComercial")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Embarcador <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("IdExportador", Model.GetEmbarcadores(Model.IdExportador), "(Seleccione Embarcador)", new { @class = "form-control" })
                                            @Html.ValidationMessage("IdExportador")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Consignatario <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("IdCliente", new List<SelectListItem>(), "(Seleccione Consignatario)", new { @class = "form-control" })
                                            @Html.ValidationMessage("IdCliente")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">País de Destino <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("PaisCodigo", Model.GetPaises(Model.PaisCodigo), "(Seleccione País de Destino)", new { @class = "form-control" })
                                            @Html.ValidationMessage("PaisCodigo")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Carrier <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("IdCarrier", Model.GetCarriers(Model.IdCarrier), "(Seleccione Carrier)", new { @class = "form-control" })
                                            @Html.ValidationMessage("IdCarrier")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Barco <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("IdBarco", new List<SelectListItem>(), "(Seleccione Barco)", new { @class = "form-control" })
                                            @Html.ValidationMessage("IdBarco")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Código del Viaje</label>
                                        <div class="col-sm-6">
                                            @Html.TextBox("NumeroViaje", Model.NumeroViaje, new { @class = "form-control", maxlength = "50" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Fecha de Zarpe <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.TextBox("FechaZarpe", Model.FechaZarpe, new { @class = "form-control", maxlength = "50" })
                                            @Html.ValidationMessage("FechaZarpe")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Transporte Terrestre <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("IdsTransportistas", Model.GetTransportistas(Model.IdOrdenProduccion), new { @class = "form-control", multiple = "multiple", data_plugin_multiselect = "", data_plugin_options = "{ \"maxHeight\": 600, \"enableCaseInsensitiveFiltering\" : true }" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Inspección del SAG <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.CheckBox("InspeccionSAG", Model.InspeccionSAG, new { @class = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Fumigación <span class="required">*</span></label>
                                        <div class="col-sm-6">
                                            @Html.CheckBox("Fumigacion", Model.Fumigacion, new { @class = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Observaciones</label>
                                        <div class="col-sm-6">
                                            @Html.TextArea("Observaciones", Model.Observaciones, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Productos</label>
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#cal-ModalProducto">(Agregar Producto)</button>
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#cal-ModalEspesor">(Agregar Espesor)</button>
                                            <table id="datatable" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Espesor</th>
                                                        <th>Saco</th>
                                                        <th>Peso Saco</th>
                                                        <th>Cont.</th>
                                                        <th>Sacos X Cont.</th>
                                                        <th>Cnt. de Cont.</th>
                                                        <th>Cnt. de Sacos</th>
                                                        <th>Cnt. de Producto (tns)</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ProductoSelected">
                                                    <tr></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="cal-HiddenKeys">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-lg-12 center">
                                <input type="submit" class="btn btn-primary" value="Guardar esta Orden de Producción" />
                            </div>
                        </div>
                    </footer>
                </form>

            </section>
        </div>
    </div>
    <!-- end: page -->
    <!-- Modal -->
    <div class="modal fade" id="cal-ModalProducto" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Producto a la Lista</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Producto</label>
                        <select data-plugin-selecttwo="" class="form-control populate selectpicker" id="idProducto" name="idProducto" tabindex="-1" aria-hidden="true" data-width='100%'></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="AgregarProducto()" class="btn btn-default" data-dismiss="modal">Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cal-ModalEspesor" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Crear Espesor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mínimo</label>
                        <input name="Min" id="Min" type="number" step="any" class="form-control" maxlength="50" />

                    </div>
                    <div class="form-group">
                        <label>Máximo</label>
                        <input name="Max" id="Max" class="form-control" type="number" step="any" maxlength="50" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CrearEspesor()" class="btn btn-default" data-dismiss="modal">Crear</button>
                </div>
            </div>
        </div>
    </div>