@using AgroFichasWeb.Models
@model CAL_FichaTecnica

@{
    ViewBag.Title = "Órdenes de Producción";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";

    if (Model.IdFichaTecnica == 0)
    {
        ViewBag.SubTitle = "Crear Ficha Técnica";
    }
    else
    {
        ViewBag.SubTitle = "Editar Ficha Técnica";
    }
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm("CrearFichaTecnica", "CALOrdenesProduccion", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Producto <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("IdSubproducto", Model.GetSubproducto(Model.IdSubproducto), "(Seleccione Producto)", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Archivo <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("PostedFile", Model.PostedFile, new { type = "file" })
                                        @Html.ValidationMessage("PostedFile")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Versión <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("Version", Model.Version, new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("Version")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Guardar esta Ficha Técnica" />
                        </div>
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<!-- end: page -->