@using AgroFichasWeb.Models
@using AgroFichasWeb.Views
@using System.Collections

@model List<CAL_FichaTecnica>
@{
    ViewBag.Title = "Órdenes de Producción";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
    var IdOrdenProduccion = (int)ViewData["IdOrdenProduccion"];
    string LoteComercial = (string)ViewData["LoteComercial"];
    Hashtable hashtable = (Hashtable)ViewData["fileToken"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />

    @* CSS for the Viewer *@
    @Html.Raw(ViewBag.ViewerCSS)

    <style>
        .modal-dialog {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }
    </style>
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
    </script>

    <!-- Viewer header scripts include-->
    @Html.Raw(ViewBag.ViewerScripts)

    <script language="javascript" type="text/javascript">
        var objctlDoc = null; // Server object id is "ctlDoc"

        function Resize() {
            var h = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
            // var w = "innerWidth" in window ? window.innerWidth : document.documentElement.offsetWidth;
            // use width variable w if required

            $("#divDocViewer").height(h - 150); // adjust value as required
        }

        $(window).on('load', function () {
            Resize();

            /* Init code for viewer */
            @Html.Raw(ViewBag.ViewerInit)
        });

        $(window).resize(function () {
            Resize();
        });

        $('#myModal').on('shown.bs.modal', function () {
            // Refresh the viewer
            setTimeout(function () { objctlDoc.HideThumbs(true); objctlDoc.HideThumbs(false); }, 100);
        });

        function OpenDocument(link) {
            var token = $(link).attr("data-token");

            setTimeout(function () { objctlDoc.View(token);}, 100);
            $('#myModal').modal('show');
        }
    </script>
}

@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.Raw(Server.UrlDecode(Request["errMsg"]))
                    </div>
                </div>
            </div>
        }
    </div>
}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Administrar Fichas Técnicas de la Orden de Producción N° @LoteComercial</h2>
        @if (permisosUsuario.AdminFichaTecnicas)
        {
            <div class="mb-md" style="right: 15px;position: absolute;top: 15px;">
                <a href="@Url.Action("CrearFichaTecnica", "CALOrdenesProduccion", new { id = IdOrdenProduccion })" class="btn btn-primary">Crear Ficha Técnica <i class="fa fa-plus"></i></a>
            </div>
        }
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Lote Comercial</th>
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Versión</th>
                    <th>Activa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr valign="top">
                        <td>@item.IdOrdenProduccion</td>
                        <td>@item.CAL_OrdenProduccion.LoteComercial</td>
                        <td>@item.CAL_Subproducto.Nombre</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.FechaHoraIns)</td>
                        <td>@item.Version</td>
                        <td>@(item.Activa ? "Sí" : "No")</td>
                        <td>
                            <button id="@string.Format("activate_{0}", item.IdFichaTecnica)" onclick="window.location.href='@Url.Action("activarfichatecnica", new { id = item.IdOrdenProduccion, IdFichaTecnica = item.IdFichaTecnica })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Activar Ficha Técnica"> <i class="fa fa-check-circle-o"></i></button>
                            <button id="@string.Format("view_{0}", item.IdFichaTecnica)" href="javascript:void(0);" onclick="OpenDocument(this);" data-token="@item.doc.Value" title="Ver @item.doc.Key" class="btn btn-default" data-toggle="tooltip" data-placement="top"> <i class="fa fa-eye"></i></button>
                            <button id="@string.Format("download_{0}", item.IdFichaTecnica)" onclick="window.location.href='@Url.Action("descargarfichatecnica", new { id = item.IdOrdenProduccion, IdFichaTecnica = item.IdFichaTecnica })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Descargar Ficha Técnica"> <i class="fa fa-download"></i></button>
                            <button id="@string.Format("delete_{0}", item.IdFichaTecnica)" onclick="window.location.href='@Url.Action("eliminarfichatecnica", new { id = item.IdOrdenProduccion, IdFichaTecnica = item.IdFichaTecnica })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Eliminar"> <i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vista Previa</h4>
            </div>
            <div class="modal-body">
                <div id="divDocViewer">
                    <div id="div_@ViewBag.ViewerID"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>