@using AgroFichasWeb.Models
@model CAL_DespachoCargaGranel
@{
    ViewBag.Title = "Despachos Carga a Granel";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";

    if (Model.IdDespachoCargaGranel == 0)
    {
        ViewBag.SubTitle = "Crear Despacho Carga a Granel";
    }
    else
    {
        ViewBag.SubTitle = "Editar Despacho Carga a Granel";
    }

    AgroFichasDBDataContext dc = new AgroFichasDBDataContext();
    CAL_OrdenProduccion ordenProduccion = (CAL_OrdenProduccion)ViewData["ordenProduccion"];
    CAL_DetalleOrdenProduccion detalleOrdenProduccion = (CAL_DetalleOrdenProduccion)ViewData["detalleOrdenProduccion"];
    List<CAL_FTParametroAnalisis> cAL_FTParametroAnalisList = (List<CAL_FTParametroAnalisis>)ViewData["cAL_FTParametroAnalisList"];
    CAL_FT cAL_FT = (CAL_FT)ViewData["cAL_FT"];
    CAL_FTControlVersion cAL_FTControlVersion = (CAL_FTControlVersion)ViewData["cAL_FTControlVersion"];
    List<CAL_DespachoCargaGranelTest> despachoCargaGranelTestList = (List<CAL_DespachoCargaGranelTest>)ViewData["despachoCargaGranelTestList"];
    PlantaProduccion plantaProduccion = dc.PlantaProduccion.Where(X => X.IdPlantaProduccion == ordenProduccion.IdPlanta).FirstOrDefault();
}
@section VendorCSS
{
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetimepicker-2.5.11/jquery.datetimepicker.css")" />
    <link rel="stylesheet" href="~/Content/porto/vendor/summernote/summernote.css" />

    <style>
        #silos-alimentacion .silos-alimentacion-silo {
            display: block;
        }

        #silos-alimentacion .silos-alimentacion-silo-nombre {
            display: inline-block;
            padding-right: 5px;
        }

        #silos-alimentacion .silos-alimentacion-silo-eliminar {
            display: inline-block;
        }

            #silos-alimentacion .silos-alimentacion-silo-eliminar:hover {
                cursor: pointer;
            }

        #AgregarSiloAlimentación {
            display: block;
        }
    </style>
}
@section VendorScripts
{
    <!-- Specific Page Vendor -->
    <script src="@Url.Content("~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js")"></script>
    <script src="~/Content/porto/vendor/summernote/summernote.js"></script>
}
@section CustomScripts
{
    <script>
        $("#AgregarSiloAlimentación").click(function () {
            var id = $('#IdSiloSelect').val();
            console.log(id);
            if (jQuery.isEmptyObject(id)) {
                alert("El silo es requerido");
                return;
            }

            if (!jQuery.isEmptyObject($("#silo-" + id).html())) {
                alert("El silo ya ha sido agregado");
                return;
            }

            var s = "";
            s += "<div class=\"silos-alimentacion-silo\" id=\"silo-" + id + "\">";
            s += "<div class=\"silos-alimentacion-silo-nombre\" id=\"silo-nombre-" + id + "\">" + $("#IdSiloSelect option:selected").text() + "</div>";
            s += "<div class=\"silos-alimentacion-silo-eliminar btn-link\" id=\"silo-eliminar-" + id + "\"><span id=\"btn-eliminar\" onclick=\"EliminarSiloAlimentación(" + id + ")\"><i class=\"fa fa-remove\"></i> Eliminar</span></div>";
            s += "<input type=\"hidden\" id=\"SILO__ALIMENTACION__" + id + "\" name=\"SILO__ALIMENTACION\" value=\"" + id + "\">";
            s += "</div>";

            $("#silos-alimentacion").append(s);
        });

        function EliminarSiloAlimentación(id) {
            $("#silo-" + id).remove();
        }

        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}
<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm("Editar", "CALDespachosCargaGranel", FormMethod.Post))
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Planta de Producción</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="background-color: #ebfbdf;">@plantaProduccion.Nombre</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Order de Producción</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="background-color: #ebfbdf;">@ordenProduccion.LoteComercial</span>
                                        @Html.Hidden("IdOrdenProduccion", Model.IdOrdenProduccion)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Familia</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="background-color: #ebfbdf;">
                                            @detalleOrdenProduccion.CAL_Producto.Nombre
                                        </span>
                                        @Html.Hidden("IdDetalleOrdenProduccion", Model.IdDetalleOrdenProduccion)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Producto</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="background-color: #ebfbdf;">
                                            @detalleOrdenProduccion.CAL_Subproducto.Nombre
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Espesor</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="background-color: #ebfbdf;">
                                            @if (detalleOrdenProduccion.IdEspesorProducto.HasValue)
                                            {
                                                @:@string.Format("{0:N2}-{1:N2} mm", detalleOrdenProduccion.CAL_EspesorProducto.Min, detalleOrdenProduccion.CAL_EspesorProducto.Max)
                                            }
                                            else
                                            {
                                                @:(No tiene Espesor)
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Ficha Técnica</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="font-family: Consolas; background-color: #ebfbdf;">
                                            @cAL_FT.Codigo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Versión</label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="font-family: Consolas; background-color: #ebfbdf;">
                                            @cAL_FTControlVersion.Version
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Silos de Alimentación <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("IdSiloSelect", Model.GetSilos(Model.IdSiloSelect), "(Seleccione Silo)", new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("SilosOk")
                                        <a href="#" id="AgregarSiloAlimentación"><i class="fa fa-plus"></i> Agregar Silo de Alimentación</a>
                                        <div id="silos-alimentacion">
                                            @foreach (CAL_DespachoCargaGranelSilo siloAlimentacion in Model.GetSilos())
                                            {
                                                <div class="silos-alimentacion-silo" id="silo-@siloAlimentacion.IdSilo">
                                                    <div class="silos-alimentacion-silo-nombre" id="silo-nombre-@siloAlimentacion.IdSilo">@siloAlimentacion.GetSilo(siloAlimentacion.IdSilo)</div>
                                                    <div class="silos-alimentacion-silo-eliminar btn-link" id="silo-eliminar-@siloAlimentacion.IdSilo"><span id="btn-eliminar" onclick="EliminarSiloAlimentación(@siloAlimentacion.IdSilo)"><i class="fa fa-remove"></i> Eliminar</span></div>
                                                    <input type="hidden" id="SILO__ALIMENTACION__@siloAlimentacion.IdSilo" name="SILO__ALIMENTACION" value="@siloAlimentacion.IdSilo">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Nº de Container Diario <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("NContainerDiario", Model.NContainerDiario, new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("NContainerDiario")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Container <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("IdContenedor", Model.GetContenedores(Model.IdContenedor), "(Seleccione Contenedor)", new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("IdContenedor")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Kg. de Producto No Conforme <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("KgProductoNoConforme", Model.KgProductoNoConforme, new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("KgProductoNoConforme")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Parámetros de Análisis <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <div class="col-sm-12" style="padding-top: 7px;">
                                            @foreach (CAL_FTParametroAnalisis cAL_FTParametroAnalis in cAL_FTParametroAnalisList)
                                            {
                                                <div class="form-group" style="padding-bottom: 0;margin-bottom: 0;">
                                                    <div class="col-sm-6">
                                                        <span>@cAL_FTParametroAnalis.CAL_ParametroAnalisis.Nombre (@cAL_FTParametroAnalis.CAL_ParametroAnalisis.UM)</span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <span style="background-color: rgb(169, 208, 142); color: black">@Formatter.Format(cAL_FTParametroAnalis.MinValidValue.Value, cAL_FTParametroAnalis.CAL_ParametroAnalisis.UM, cAL_FTParametroAnalis.CAL_ParametroAnalisis.FormatString, cAL_FTParametroAnalis.IdParametroAnalisis)</span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <span style="background-color: rgb(169, 208, 142); color: black">@Formatter.Format(cAL_FTParametroAnalis.MaxValidValue.Value, cAL_FTParametroAnalis.CAL_ParametroAnalisis.UM, cAL_FTParametroAnalis.CAL_ParametroAnalisis.FormatString, cAL_FTParametroAnalis.IdParametroAnalisis)</span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="@string.Format("PARAMETROANALISIS__{0}", cAL_FTParametroAnalis.IdParametroAnalisis)" id="@string.Format("PARAMETROANALISIS__{0}", cAL_FTParametroAnalis.IdParametroAnalisis)" placeholder="Valor" value="@(despachoCargaGranelTestList.SingleOrDefault(X => X.IdParametroAnalisis == cAL_FTParametroAnalis.IdParametroAnalisis) != null ? despachoCargaGranelTestList.SingleOrDefault(X => X.IdParametroAnalisis == cAL_FTParametroAnalis.IdParametroAnalisis).Value : 0)" class="form-control input-sm" style="width: auto;" />
                                                    </div>
                                                    <div style="clear:both"></div>
                                                </div>
                                            }
                                            @Html.ValidationMessage("ParametrosOk")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Observaciones <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextArea("Observaciones", Model.Observaciones, new { @class = "summernote", @data_plugin_summernote = "{}" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Retenido</label>
                                    <div class="col-sm-6" style="padding-top: 7px;">
                                        @Html.CheckBox("Retenido", Model.Retenido)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Editar este Despacho" />
                        </div>
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<!-- end: page -->