@using AgroFichasWeb.Models
@using AgroFichasWeb.ViewModels.SoftwareCalidad
@model DespachoCargaGranelViewModel
@{
    ViewBag.Title = string.Format("Despacho Carga a Granel N° {0}", Model.DespachoCargaGranel.IdDespachoCargaGranel);
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    int cont = 0;
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
    AgroFichasDBDataContext dc = new AgroFichasDBDataContext();
    PlantaProduccion plantaProduccion = dc.PlantaProduccion.Where(X => X.IdPlantaProduccion == Model.OrdenProduccion.IdPlanta).FirstOrDefault();
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
        @if (ViewBag.Section != null)
        {
            @:$(document).ready(function () {
                @:var anchor = document.getElementById('@ViewBag.Section');
                @:anchor.scrollIntoView(true);
            @:});
        }
    </script>
}

<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Detalle de Despacho Carga a Granel</h2>
    </header>
    <div class="panel-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-md">
                        <h2 class="h2 mb-sm text-dark text-weight-bold">
                            Orden de Producción <span style="font-family: Consolas">@Model.OrdenProduccion.LoteComercial</span>
                        </h2>
                    </div>
                    <div class="col-sm-6 text-right mt-md mb-md">
                        @if (Model.DespachoCargaGranel.Reproceso)
                        {
                            <i class="fa fa-recycle fa-5x" style="color: #ed9c28"></i>
                        }
                    </div>
                </div>
            </header>
            <header class="clearfix">
                <div class="bill-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bill-to">
                                <h3 class="h3 mt-none mb-sm text-dark text-weight-bold">ANTECEDENTES PRELIMINARES:</h3>
                                <div class="text-left">
                                    <table class="table h5 text-dark" style="border: none">
                                        <tbody>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">Planta produción:</span></td>
                                                <td class="text-left"><span class="value">@plantaProduccion.Nombre</span></td>
                                            </tr>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">PRODUCTO:</span></td>
                                                <td class="text-left"><span class="value">@Model.Producto.Nombre</span></td>
                                            </tr>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">ESPESOR:</span></td>
                                                <td class="text-left"><span class="value">@(Model.EspesorProducto != null ? string.Format("{0:N2}-{1:N2} mm", Model.EspesorProducto.Min, Model.EspesorProducto.Max) : "(No tiene Espesor)")</span></td>
                                            </tr>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">FICHA TÉCNICA:</span></td>
                                                <td class="text-left"><span class="value">@Model.FichaTecnica.Codigo</span></td>
                                            </tr>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">VERSIÓN:</span></td>
                                                <td class="text-left">
                                                    <span class="value">
                                                        @if (Model.ControlVersion != null)
                                                        {
                                                            @Model.ControlVersion.Version
                                                        }
                                                        else
                                                        {
                                                            @:0
                                                        }
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">RET. AUTOMÁTICO:</span></td>
                                                <td class="text-left"><span class="value @(Model.DespachoCargaGranel.RetenidoAut.Value ? "cal-Retenido" : "cal-NoRetenido")">@(Model.DespachoCargaGranel.RetenidoAut.Value ? "Sí" : "No")</span></td>
                                            </tr>
                                            <tr class="b-top-none">
                                                <td colspan="2"><span class="text-dark text-weight-semibold">RET. ANALISTA:</span></td>
                                                <td class="text-left"><span class="value @(Model.DespachoCargaGranel.Retenido.HasValue && Model.DespachoCargaGranel.Retenido.Value ? "cal-Retenido" : "cal-NoRetenido")">@(Model.DespachoCargaGranel.Retenido.HasValue && Model.DespachoCargaGranel.Retenido.Value ? "Sí" : "No")</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="bill-info" style="margin-top: 20px;">
                <h3 class="h3 mt-none mb-sm text-dark text-weight-bold">CARGA</h3>
                <div class="text-left">
                    <table class="table h5 text-dark" style="border: none">
                        <thead>
                            <tr>
                                <th>Nº CONTENEDOR DIARIO</th>
                                <th>CONTENEDOR</th>
                                <th>SILOS DE ALIMENTACIÓN</th>
                                <th>CANTIDAD CARGADA</th>
                                <th>KG NO CONFORME</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="b-top-none">
                                <td class="text-left"><span class="value">@Model.DespachoCargaGranel.NContainerDiario</span></td>
                                <td class="text-left"><span class="value">@Model.DespachoCargaGranel.CAL_RITContenedor.NContenedor</span></td>
                                <td class="text-left">
                                    <span class="value">
                                        @foreach (CAL_DespachoCargaGranelSilo siloAlimentacion in Model.DespachoCargaGranel.GetSilos())
                                        {
                                            @Model.DespachoCargaGranel.GetSilo(siloAlimentacion.IdSilo)<br />
                                        }
                                    </span>
                                </td>
                                <td class="text-left"><span class="value">@string.Format("{0:N0}", Model.DespachoCargaGranel.CantidadCargada)</span></td>
                                <td class="text-left"><span class="value">@string.Format("{0:N0}", Model.DespachoCargaGranel.KgProductoNoConforme)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @if (!Model.DespachoCargaGranel.NoEstaAnalizado(Model.DespachoCargaGranel.IdDespachoCargaGranel))
            {
                <div class="bill-info" style="margin-top: 20px;">
                    <h3 class="h3 mt-none mb-sm text-dark text-weight-bold">PARÁMETROS</h3>
                    <div class="text-left">
                        <table class="table h5 text-dark" style="border: none">
                            <thead>
                                <tr>
                                    <th colspan="2">Parámetro</th>
                                    <th>Mínimo</th>
                                    <th>Máximo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AnalisisDespachoCargaGranelTestList != null)
                                {
                                    foreach (CAL_DespachoCargaGranelTest cAL_AnalisisDespachoCargaGranelTest in Model.AnalisisDespachoCargaGranelTestList)
                                    {
                                        <tr class="b-top-none">
                                            <td colspan="2"><span class="text-dark text-weight-semibold">@cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.Nombre.ToUpper() (@cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.UM.ToUpper()):</span></td>
                                            <td>@Formatter.Format(cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.MinValidValue.Value, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.UM, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.FormatString, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.IdParametroAnalisis)</td>
                                            <td>@Formatter.Format(cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.MaxValidValue.Value, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.UM, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.FormatString, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.IdParametroAnalisis)</td>
                                            <td class="text-left"><span class="value @(cAL_AnalisisDespachoCargaGranelTest.ValidValue.Value ? "cal-ValidValue" : "cal-NoValidValue")">@Formatter.Format(cAL_AnalisisDespachoCargaGranelTest.Value, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.UM, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.CAL_ParametroAnalisis.FormatString, cAL_AnalisisDespachoCargaGranelTest.CAL_FTParametroAnalisis.IdParametroAnalisis)</span></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="text-right mr-lg">
            <a href="@Url.Action("Imprimir", "CALDespachosCargaGranel", new {id = Model.DespachoCargaGranel.IdDespachoCargaGranel })" target="_blank" class="btn btn-primary ml-sm"><i class="fa fa-print"></i> Imprimir</a>
        </div>
    </div>
</section>