@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@model List<CAL_OrdenProduccion>
@{
    ViewBag.Title = "Despachos Carga a Granel";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'desc'],
            "searching": true,
            "lengthChange": true,

            "language": {
                "emptyTable": "No hay registros"
            },
            "pageLength": 100
        });
    </script>
}

@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.Raw(Server.UrlDecode(Request["errMsg"]))
                    </div>
                </div>
            </div>
        }
    </div>
}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Seleccione Orden de Producción</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Lote Comercial</th>
                    <th>Fecha</th>
                    <th>Consignatario</th>
                    <th>Inicio Producción</th>
                    <th>Término Producción</th>
                    <th>Autorizada</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr valign="top">
                        <td>@item.IdOrdenProduccion</td>
                        <td>@item.LoteComercial</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.Fecha)</td>
                        <td>@item.GetCliente(item.IdCliente).RazonSocial</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.InicioProduccion)</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.TerminoProduccion)</td>
                        <td><span class="@item.GetCssStyleAutorizado(item.Autorizado)"><strong>@((item.Autorizado.HasValue || item.AutorizadoAuto.HasValue) && (item.Autorizado.Value || item.AutorizadoAuto.Value) ? "AUTORIZADO" : "NO AUTORIZADO")</strong></span></td>
                        <td>
                            <button id="@string.Format("view_{0}", item.IdOrdenProduccion)" onclick="window.location.href='@Url.Action("VerProductos", new { id = item.IdOrdenProduccion })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ver Productos"> <i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->