@using System.Data.Linq
@using AgroFichasWeb.Models
@{
    var temporada = (Temporada)ViewData["temporada"];
    var temporadas = (List<Temporada>)ViewData["temporadas"];
    var variedadFilter = ViewData["variedadFilter"];
    var soloContrato = (bool)ViewData["soloContrato"];

    ViewBag.NombreSeccion = "Informes";
    ViewBag.Title = "Visitas Por Semana " + temporada.Nombre;

    var index = (ISingleResult<rpt_VisitasPorSemana_IndexResult>)ViewData["index"];
    var data = (List<rpt_VisitasPorSemana_DataResult>)ViewData["data"];
    var cultivosSemana = (List<rpt_VisitasPorSemana_CultivosResult>)ViewData["cultivosSemana"];
    var contratos = (List<rpt_VisitasPorSemana_ContratosResult>)ViewData["contratos"];

    var semanas = (List<AgroFichasWeb.Controllers.SemanaAno>)ViewData["semanas"];
    var meses = AgroFichasWeb.Controllers.MesAno.FromSemanas(semanas);

    var dc = new AgroFichasDBDataContext();
}

@section headSection {
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
}

@helper headerMeses(List<AgroFichasWeb.Controllers.MesAno> meses)
{
    foreach (var s in meses)
    {
            <td colspan="@s.CuentaSemanas" class="label mes">@(new DateTime(s.Ano, s.Mes, 1).ToString("MMM yy"))</td>
    }
}

@helper headerSemanas (List<AgroFichasWeb.Controllers.SemanaAno> semanas) {
    var lastMoth = -1;
    var iSemana = 0;
    foreach (var s in semanas)
    {
        if (s.Mes != lastMoth) 
        {
            iSemana = 0;
        }
        lastMoth = s.Mes;
        <td class="value">S@(++iSemana)</td>
    }    
}

@helper renderContratos(int idAgricultor) {

    var contratos = (List<rpt_VisitasPorSemana_ContratosResult>)ViewData["contratos"];

    foreach (var contrato in contratos.Where(c => c.IdAgricultor == idAgricultor).OrderBy(c => c.IdCultivo))
    {
        <div class="cultivo cultivo-@contrato.IdCultivo">@contrato.Superficie.Value.ToString("#,##0")</div>
    }
}

@helper siembras(int idAgricultor, int countSiembras) {

    var cultivos = (List<rpt_SuperficiePorCultivoPorAgricultorResult>)ViewData["cultivos"];
    if (countSiembras == 0)
    {
        <div class="cultivo cultivo-0">¿?</div>
    }
    foreach (var cultivo in cultivos.Where(c => c.IdAgricultor == idAgricultor).OrderBy(c => c.IdCultivo))
    {
        <div class="cultivo cultivo-@cultivo.IdCultivo" title="@cultivo.Nombre">@cultivo.SuperficieTotal.Value.ToString("#,##0")</div>
    }
}

@Html.Partial("Styles")

<h2>@ViewBag.Title<br />@(soloContrato ? "Sólo Agricultores con Contrato" : "")<br />@(new MvcHtmlString(ViewData["variedadFilterDescription"].ToString()))</h2>

<div class="reportFilter">
    @using(Html.BeginForm())
    {
        <select id="idTemporada" name="id">
            @foreach (var t in temporadas)
            {
                <option value="@t.IdTemporada" @(t.IdTemporada == temporada.IdTemporada ? "selected" : "")>@t.Nombre</option>
            }
        </select>
        <div id="cultivoFilter" style="display: inline-block;">
            <span id="cultivoFilter-Text" style="border: solid 1px #c3c3c3; padding: 3px"></span>
            <input type="button" value="..." id="cultivoFilter-Button" />
            <input type="hidden" id="cultivoFilterValue" name="cultivoFilterValue" value="@variedadFilter" />

            <div id="cultivoFilter-Window" style="display: none" title="Filtrar por Cultivo y Variedad">
                <div id="cultivoFilter-WindowContent" style="text-align: left">
                    
                    @foreach (var cult in dc.Cultivo)
                    {
                        <ul style="list-style: none; float: left">
                        @if (cult.Variedad.Count > 0)
                        {
                            <li><input type="checkbox" class="filterCultivo" data-idcultivo="@cult.IdCultivo" /> @cult.Nombre</li>    
                            <ul style="list-style: none">
                                @foreach (var var in cult.Variedad)
                                {
                                    <li><input type="checkbox" data-idvariedad="@var.IdVariedad" id="filterVariedad-@var.IdVariedad" class="filterCultivoVariedad filterCultivo-@var.IdCultivo" /> @var.Nombre</li>
                                }
                            </ul>
                        }
                        </ul>
                    }
                    <div style="clear: both"></div>
                </div>    
            </div>
            <script>

                function initCultivoFilter() {
                    var ids = $("#cultivoFilterValue").val();
                    if (ids == '') {
                        $(".filterCultivo").attr("checked", true);
                        $(".filterCultivoVariedad").attr("checked", true);
                        $("#cultivoFilter-Text").html('(Todos los Cultivos)');
                    }
                    else {
                        var matId = ids.split(',');
                        for (var i = 0; i < matId.length; i++)
                            $("#filterVariedad-" + matId[i]).attr('checked', true);

                        $("#cultivoFilter-Text").html('Algunas Variedades');
                    }
                }

                $(document).ready(function () {

                    initCultivoFilter();

                    $("#cultivoFilter-Button").click(function () {
                        $("#cultivoFilter-Window").dialog({
                            height: 600,
                            width: 800,
                            modal: true,
                            buttons: {
                                "Aceptar": function () {
                                    
                                    var s = '';
                                    if ($(".filterCultivoVariedad:not(:checked)").length > 0) {
                                        if ($(".filterCultivoVariedad:checked").length > 0) {
                                            s = '';
                                            $(".filterCultivoVariedad:checked").each(function (index) {
                                                s += $(this).attr('data-idvariedad') + ',';
                                            });
                                            
                                        }
                                        else {
                                            alert('Seleccione al menos una variedad');
                                            return;
                                        }
                                    }
                                    $("#cultivoFilterValue").val(s);
                                    initCultivoFilter();
                                    $(this).dialog("close");
                                }
                                ,
                                Cancel: function() {
                                    $(this).dialog( "close" );
                                }
                            },
                            open: function () {
                            }
                        });
                    });

                    $(".filterCultivo").click(function () {
                        var idCultivo = $(this).attr("data-idcultivo");
                        $(".filterCultivo-" + idCultivo).attr("checked", $(this).is(":checked"));
                    });

                });
            </script>
        </div>
        <input type="checkbox" name="soloContrato" value="1" @(soloContrato ? "checked" : "") /><text>Sólo agricultores con contrato</text>
        <input type="submit" value="Ir" />
    }
</div>


<table border="0" cellpading="0" cellspacing="0" class="rep1">
<tr>
    <td colspan="2"></td>
    <td colspan="3">
        <div class="cultivo cultivo-1">Raps</div>
        <div class="cultivo cultivo-2">Trigo</div>
        <div class="cultivo cultivo-3">Avena</div>
        <div class="cultivo cultivo-0">Sin Info</div>
    </td>
    @headerMeses(meses)
</tr>
<tr>
    <td class="label">#</td>
    <td class="label">Agricultor</td>
    <td class="label">Agente</td>
    <td class="label">Contratos</td>
    <td class="label">Siembra (há)</td>
    @headerSemanas(semanas)
    <td class="label" style="text-align: center">Tot</td>
</tr>

@{
    var i = 0;
    var totalFilas = 0;
    foreach (var ix in index)
    {
            var ag = dc.Agricultor.Single(a => a.IdAgricultor == ix.IdAgricultor);
        
            <tr valign="top">
                <td class="number">@(++i)</td>
                <td>
                    <a href="#" class="rowValue" data-ida="@ix.IdAgricultor">@ix.Nombre</a>
                </td>
                <td>
            
                    @if (ag.UsuarioAgricultor.Count > 0)
                    {
                        foreach (var user in ag.UsuarioAgricultor)
                        {
                            @(user.SYS_User.UserName) <br />
                        }
                    }
                    else
                    {
                        <text>-</text>   
                    }
                </td>
                <td class="value">
                    @renderContratos(ix.IdAgricultor)
                </td>
                <td class="value">
                    @siembras(ix.IdAgricultor, ix.CountSiembras.Value)
                </td>
                @{
                    int totalAgricultor = 0;
                    foreach (var s in semanas)
                    {
                        var d = data.SingleOrDefault(x => x.Semana == s.Semana && x.Ano == s.Ano  && x.IdAgricultor == ix.IdAgricultor);
                        <td class="value">
                            @if (d != null)
                            {
                                totalAgricultor += d.Visitas.Value;
                                var cs = cultivosSemana.Where(x => x.Semana == s.Semana && x.Ano == s.Ano && x.IdAgricultor == ix.IdAgricultor);
                                var width = cs.Count() > 0 ? (int)Math.Floor(99M / cs.Count()) : 100;
                                foreach (var c in cs)
                                {
                                    <div class="cultivoInd cultivo-@c.IdCultivo" style="width: @width%"></div>
                                
                                }
                                <a href="#" class="cellValue" data-ida="@ix.IdAgricultor" data-sem="@d.Semana" data-ano="@d.Ano">@d.Visitas.ToString()</a>
                            }
                        </td>
                    }
                    totalFilas += totalAgricultor;
                }
                <td class="labelc">@totalAgricultor</td>
            </tr>
    }
}
<tr>
    <td colspan="5"></td>
    @headerMeses(meses)
</tr>
<tr>
    <td colspan="5"></td>
    @headerSemanas(semanas)
    <td class="label" style="text-align: center">Tot</td>
</tr>


<tr>
    <td class="label" colspan="5">Totales</td>
    @{
        int totalGeneral = 0;
        foreach (var s in semanas)
        {
            var d = data.Where(x => x.Semana == s.Semana && x.Ano == s.Ano).Sum(x => x.Visitas);
            <td class="labelc">
                @if (d.HasValue != null)
                {
                    totalGeneral += d.Value;
                    <a href="#" class="cellValue" data-ida="0" data-sem="@s.Semana" data-ano="@s.Ano">@d.ToString()</a>
                }
            </td>
        }    
    }
    <td class="labelc" style="font-size:16px;">
        @totalGeneral
        @if (totalGeneral != totalFilas)
        {
            <div style="color: red">Descuadrado. Filas suman @totalFilas.ToString()</div>
        }
    </td>
</tr>
</table>

<div id="detailWindow">
    <div id="detailWindow-Content">
    </div>
</div>



<script>

    $(document).ready(function () {

        $(".cellValue").click(function () {
            showCellValue($(this).attr("data-ida"), $(this).attr("data-sem"), $(this).attr("data-ano"));
            return false;
        });

        $(".rowValue").click(function () {
            showCellValue($(this).attr("data-ida"), "", "");
            return false;
        });

        function showCellValue(idAgricultor, semana, ano) {

            $("#detailWindow-Content").html("Cargando...");

            $("#detailWindow").dialog({
                height: 600,
                width: 800,
                modal: true,
                buttons: {},
                open: function () {
                    var baseUrl = '@(new MvcHtmlString(Url.Action("VisitasPorSemana_Detalle", new { idAgricultor = -1, semana = -2, ano = -3, idTemporada = temporada.IdTemporada, cultivoFilter = variedadFilter })))';
                    $("#detailWindow-Content").load(baseUrl.replace('-1', idAgricultor).replace('-2', semana).replace('-3', ano));
                }
            });
        }
    });

</script>
