@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@model LOG_Pedido

@{
    ViewBag.NombreSeccion = "Requerimientos";
    if (Model.IdPedido == 0)
    {
        ViewBag.Title = "Crear Múltiples Pedidos";
    }
    else
    {
        ViewBag.Title = "Editar Múltiples Pedidos";
    }

    var cultivosList = (IEnumerable<SelectListItem>)ViewData["cultivosList"];
    var envasesList = (IEnumerable<SelectListItem>)ViewData["envasesList"];
    var bodegasOrigenList = (IEnumerable<SelectListItem>)ViewData["bodegasOrigenList"];
    var bodegasDestinoList = (IEnumerable<SelectListItem>)ViewData["bodegasDestinoList"];
    var estadosList = (IEnumerable<SelectListItem>)ViewData["estadosList"];
    var tipoPedidosList = (IEnumerable<SelectListItem>)ViewData["tipoPedidosList"];
    var IdRequerimiento = (int)ViewData["IdRequerimiento"];

    var DC = new AgroFichasDBDataContext();
    var requerimiento = (from x in DC.LOG_Requerimiento
                         where x.IdRequerimiento == IdRequerimiento
                         select x).Single();
}

@section submenuSection {
    @Html.Partial("Submenu")
}

<h2>@ViewBag.Title</h2>
@Html.ValidationSummary("No fue posible procesar su solicitud. Por favor haga las siguientes correcciones:")

@using (Html.BeginForm())
{
    <fieldset class="dataForm">
        <p>
            <label for="Titulo">Cultivo</label>
            @Html.DropDownList("IdCultivo", cultivosList, "-- Seleccione --", new { @class = "heavy std" })
            @Html.ValidationMessage("IdCultivo", " ")
        </p>
        <p>
            <label for="Titulo">Tipo Pedido</label>
            @Html.DropDownList("IdTipoPedido", tipoPedidosList, "-- Seleccione --", new { @class = "heavy std" })
            @Html.ValidationMessage("IdTipoPedido", " ")
        </p>
        <p>
            <label for="Titulo">Envase</label>
            @Html.DropDownList("IdEnvase", envasesList, "-- Seleccione --", new { @class = "heavy std" })
            @Html.ValidationMessage("IdEnvase", " ")
        </p>
        <p>
            <label for="Titulo">Cantidad</label>
            @Html.TextBox("CantidadUnitariaKg", Model.CantidadUnitariaKg, new { @class = "heavy std", maxlength = "17", placeholder = "5" }) <span style="color: red; font-style: italic">¡Alerta! Debe ser en toneladas</span>
            @Html.ValidationMessage("CantidadUnitariaKg", " ")
        </p>
        <p>
            <label for="Titulo">Dividida En</label>
            <input type="text" class="heavy std" maxlength="17" name="DivididaEn" id="DivididaEn" placeholder="30000" value="" /> <span style="color: red;; font-style: italic">¡Alerta! Debe ser en kilogramos</span>
        </p>
        @if (requerimiento.IdTipoMovimiento == 1)//Interno
        {
            <p>
                <label for="Titulo">Origen</label>
                @Html.DropDownList("Origen", bodegasOrigenList, "-- Seleccione --", new { @class = "heavy std" })
            </p>
            <p>
                <label for="Titulo">Destino</label>
                @Html.DropDownList("Destino", bodegasDestinoList, "-- Seleccione --", new { @class = "heavy std" })
            </p>
        }
        else//Externo-Otro
        {
            <p>
                <label for="Titulo">Origen</label>
                @Html.TextBox("OtroOrigen", Model.OtroOrigen, new { @class = "heavy std", maxlength = "50" })
            </p>
            <p>
                <label for="Titulo">Destino</label>
                @Html.TextBox("OtroDestino", Model.OtroDestino, new { @class = "heavy std", maxlength = "50" })
            </p>
        }
        <p class="okcancel">
            <input type="submit" class="deleteRecord" value="Guardar este Pedido Múltiple" /> o <a href="javascript:window.history.back();">Cancelar</a>
        </p>
    </fieldset>
    <input type="hidden" name="IdRequerimiento" value="@IdRequerimiento" />

    <script>
        $(".deleteRecord").click(function () {
            var Tn = $("#CantidadUnitariaKg").val();
            var DivididaEn = $("#DivididaEn").val();

            if (!isNaN(parseInt(Tn)) && !isNaN(parseInt(DivididaEn)))
                return confirm('¿Estás seguro que quieres crear este pedido múltiple?\nEsta acción no se puede deshacer\nCantidad Tn= ' + number_format(Tn) + ', Dividida En= ' + number_format(DivididaEn) + '');
            else
                return confirm('¿Estás seguro que quieres crear este pedido múltiple?\nEsta acción no se puede deshacer\nCantidad Tn= 0, Dividida En= 0');
        });

        function number_format(n) {
            var number = new String(n);
            var result = "", isNegative = false;
            if (number.indexOf("-") > -1) { number = number.substr(1); isNegative = true; }
            while (number.length > 3) {
                result = "." + number.substr(number.length - 3) + result;
                number = number.substring(0, number.length - 3);
            }
            result = number + result;
            if (isNegative) result = '-' + result;
            return result;
        }
    </script>
}