@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@model AgroFichasWeb.Controllers.PaginatedList<vwPrecioSpot>

@{
    var cultivo = (Cultivo)ViewData["cultivo"];
    var monedas = (List<Moneda>)ViewData["monedas"];
    var monedaCLP = monedas.Single(m => m.IdMoneda == 1);
    var monedaUSD = monedas.Single(m => m.IdMoneda == 2);

    var puedeEditar = SYS_User.Current().HasPermiso(53);
    var puedeElimimar = SYS_User.Current().HasPermiso(54);
    
    ViewBag.NombreSeccion = "Precios Spot";
    ViewBag.Title = "Administrar Precios Spot de " + cultivo.Nombre;
    ViewBag.OverrideStyleMenu2 = "height: auto";
}

@section submenuSection {
    @Html.Partial("Submenu")
}

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".dataList tr:even").addClass("even");
        });
    </script>

    <h2>@ViewBag.Title</h2>
    @Html.Partial("~/Views/Controls/ActionResultMessages.cshtml")

    @if (SYS_User.Current().HasPermiso(52))
    {
    <div style="margin: 20px 0px">
        <a href="@Url.Content("~/preciosspot/crear?cultivo=" + cultivo.IdCultivo)">Crear Precio Spot de  @cultivo.Nombre</a>
    </div>
    }
    @Html.ValidationSummary("No fue posible procesar su solicitud")

    <table class="dataList" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th align="left">
                Fecha
            </th>
            <th>
                Sucursal
            </th>
            <th align="right">
                @monedaCLP.Simbolo / Kg
            </th>
            <th align="right">
                @monedaUSD.Simbolo / Kg
            </th>
            @if (puedeEditar) {
            <th align="center">
                Editar
            </th>
            }
            @if (puedeElimimar) {
            <th align="center">
                Eliminar
            </th>
            }
        </tr>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="6" class="norecords">
                    No hay registros
                </td>
            </tr>
        }
        
        @foreach (var item in Model) 
        {
            object itemParams = new { id = item.IdCultivo, fecha = item.Fecha.ToString("dd/MM/yyyy") };
            <tr valign="top">
                <td align="left">
                    @item.Fecha.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Sucursal
                </td>
                <td align="right">
                    @(item.ValorCLP.HasValue ? String.Format(monedaCLP.Formato2, item.ValorCLP) : "")
                </td>
                <td align="right">
                    @(item.ValorUSD.HasValue ? String.Format(monedaUSD.Formato2, item.ValorUSD) : "")
                </td>
                @if (puedeEditar) 
                {
                    <td align="center">
                        @Html.ActionImage(Url.Content("~/Content/images/editar.png"), "Editar", itemParams)
                    </td>
                }
                @if (puedeElimimar)
                {
                    <td align="center">
                        @Html.ActionImage(Url.Content("~/Content/images/eliminar.png"), "Eliminar", itemParams)
                    </td>
                }
            </tr>
        }
        <tr>
            <td colspan="6" class="pager">
                @Html.Paginador(Model.PageIndex, Model.TotalPages, "", "PreciosSpot", "")
            </td>
        </tr>

    </table>
