@using AgroFichasWeb.Models
@model List<CAL_FTDoc>
@{
    ViewBag.Title = "Documentos";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    CAL_FT cAL_FT = (CAL_FT)ViewData["cAL_FT"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
    <link href="@Url.Content("~/Content/porto/vendor/magnific-popup/magnific-popup.css")" rel="stylesheet" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });

        $('.zoom-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            image: {
                verticalFit: true
            },
            gallery: {
                enabled: true
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function (element) {
                    return element.find('img');
                }
            }
        });
    </script>
}

@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["errMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
    </div>
}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Administrar Documentos de la Ficha Técnica @cAL_FT.Codigo</h2>
        <div class="mb-md" style="right: 15px;position: absolute;top: 15px;">
            <a href="@Url.Action("Crear", "CALFTDoc", new { id = cAL_FT.IdFichaTecnica })" class="btn btn-primary">Crear Documento <i class="fa fa-plus"></i></a>
        </div>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Doc</th>
                    <th>Observación</th>
                    <th style="text-align: center">Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr valign="top">
                        <td>@item.IdDoc</td>
                        <td>
                            <div class="zoom-gallery">
                                @Html.Raw(item.GetArchivo())
                            </div>
                        </td>
                        <td>@Html.Raw(item.Observacion)</td>
                        <td style="text-align: center">
                            @string.Format("{0:dd/MM/yy}", item.FechaHoraIns)
                        </td>
                        <td>
                            <button id="edit_@item.IdDoc" onclick="window.location.href='@Url.Action("Editar", new { id = item.IdFichaTecnica, IdDoc = item.IdDoc })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"> <i class="fa fa-edit"></i></button>
                            <button id="delete_@item.IdDoc" onclick="window.location.href='@Url.Action("Eliminar", new { id = item.IdFichaTecnica, IdDoc = item.IdDoc })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Eliminar"> <i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->