@using AgroFichasWeb.Models
@model CAL_GrupoEnvasador
@{
    ViewBag.Title = "Grupo de Envasadores";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";

    if (Model.IdGrupoEnvasador == 0)
    {
        ViewBag.SubTitle = string.Format("Crear Envasadores del Turno {0} de {1} a las {2}", Model.CAL_Turno.CAL_TipoTurno.Descripcion, Model.CAL_Turno.InicioTurno, Model.CAL_Turno.FinTurno);
    }
    else
    {
        ViewBag.SubTitle = string.Format("Editar Envasadores del Turno {0} de {1} a las {2}", Model.CAL_Turno.CAL_TipoTurno.Descripcion, Model.CAL_Turno.InicioTurno, Model.CAL_Turno.FinTurno);
    }
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Planta producción<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("IdPlanta", Model.GetPlantaProduccion(Model.IdPlanta), new { @class = "form-control", @disabled = "disabled" })
                                        @Html.ValidationMessage("IdPlanta")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Nombre <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("Nombre", Model.Nombre, new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("Nombre")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Envasadores <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <p style="margin-top: 7px;"><strong>Internos:</strong></p>
                                        <ul style="list-style:none; margin: 0; padding: 0 0 0 20px;">
                                            @foreach (var envasador in Model.GetEnvasadoresPorGrupoEnvasador(Model.IdGrupoEnvasador).Where(X => X.IdSeccion == 8))
                                            {
                                                <li><input type="checkbox" name="chkEnvasador" value="@envasador.UserID" @(envasador.Tiene.Value ? "checked" : "") /> @envasador.FullName</li>
                                            }
                                        </ul>
                                        <p style="margin-top: 20px;"><strong>Externos:</strong></p>
                                        <ul style="list-style:none; margin: 0; padding: 0 0 0 20px;">
                                            @foreach (var envasador in Model.GetEnvasadoresPorGrupoEnvasador(Model.IdGrupoEnvasador).Where(X => X.IdSeccion == 9))
                                            {
                                                <li><input type="checkbox" name="chkEnvasador" value="@envasador.UserID" @(envasador.Tiene.Value ? "checked" : "") /> @envasador.FullName</li>
                                            }
                                        </ul>
                                        @Html.ValidationMessage("EnvasadoresValidos")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Guardar éstos Envasadores" />
                        </div>
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<!-- end: page -->