@using AgroFichasWeb.Models
@{
    var temporada = Temporada.TemporadaActivaFichas();
    var tipos = TipoFicha.SelectList(-1);
    var estadosSiembra = EstadoSiembra.SelectList(-1);
    var importancias = ImportanciaSeguimiento.SelectList(-1);
}
<!-- Modal Form - Ficha -->
<div id="modalFormFicha" class="modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title" id="formTitleFicha">Titulo</h2>
        </header>
        <div class="panel-body">
            <form id="formItemFicha" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="validation-summary-errors" id="validationErrorsFicha" style="display: none;">

                </div>
                <input type="hidden" value="" name="idFicha" id="idFicha" />
                <input type="hidden" name="idPredio" value="@Model.IdPredio" />
                <input type="hidden" name="idTemporada" value="@temporada.IdTemporada" />
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Potreros <span class="required">*</span></label>
                    <div class="col-sm-9">
                        <table id="tblPotrerosFicha" class="table table-bordered table-striped mb-none">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Tipo <span class="required">*</span></label>
                    <div class="col-sm-9">
                        @Html.DropDownList("idtipoficha", tipos)
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Fecha <span class="required">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="fecha" id="fechaficha" class="form-control" data-plugin-datepicker />
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Observaciones</label>
                    <div class="col-sm-9">
                        <textarea name="observaciones" id="observacionesficha" class="form-control" cols="3"></textarea>
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Estado de Siembra</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("idestadosiembra", estadosSiembra, new { id = "idestadosiembra" })
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Importacia de Seguimiento</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("idimportanciaseguimiento", importancias, new { id = "idimportanciaseguimiento" })
                    </div>
                </div>

                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Recomendaciones</label>
                    <div class="col-sm-9">
                        <table id="tblRecomendacionesFicha" class="table table-bordered table-striped mb-none">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button type="button" id="addRecomendacionFicha" class="mb-xs mt-xs mr-xs btn-xs btn-primary">Agregar Químico</button>
                        <button type="button" id="addFertilizanteFicha" class="mb-xs mt-xs mr-xs btn-xs btn-primary">Agregar Fertilizante</button>
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Fotos</label>
                    <div class="col-sm-9">
                        <table id="tblFotosFicha" class="table table-bordered table-striped mb-none">
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Observaciones</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                        <button type="button" id="addFotoFicha" class="mb-xs mt-xs mr-xs btn-xs btn-primary">Agregar Foto</button>
                    </div>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-center" id="footerSpinnerFicha" style="display: none;">
                    <img id="spinnerImageFicha" src="~/Content/spinner.svg" height="34" />
                </div>
                <div class="col-md-12 text-right" id="footerButtonsFicha">
                    <button class="btn btn-primary modal-confirmFicha">Guardar</button>
                    <button class="btn btn-default modal-dismissFicha">Cancelar</button>
                </div>
            </div>
        </footer>
    </section>
</div>

