@using AgroFichasWeb.Models
@{
    var temporada = Temporada.TemporadaActivaFichas();
}
<script>
        //Siembras
        //Create
        $('#addItemSiembra').click(function () {

            var jqxhr = $.post('@Url.Action("getpotrerosparasiembra")', { id: @Model.IdPredio, idTemporada: @temporada.IdTemporada },
                    function (data, textStatus, jqXHR) {
                        if (!data.ok) {
                            showDangerPopUp(data.msg);
                        }
                        else {
                            loadItemSiembra({
                                Id: 0,
                                IdVariedad: 0,
                                Dosis: 0,
                                IdTipoSiembra: 0,
                                FechaSiembra: '',
                                IdCultivoAnterior: 0,
                                RendimientoEstimado: 0,
                                FechaCosechaEstimada: '',
                                Potreros: data.item.Potreros
                            });
                        }
                    })
                    .done(function () {
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        showDangerPopUp(parsePostFail(jqXHR, errorThrown));
                    })
                    .always(function () {
                    });

            });

        //Edit
        $("#datatable-siembra tbody").on("click", ".editItemSiembra", function (e) {

            e.preventDefault();
            var idItem = $(this).attr("data-id");

            $("#editButtonSiembra-" + idItem).hide();
            $("#editSpinnerSiembra-" + idItem).show();

            var jqxhr = $.post('@Url.Action("getsiembra")', { id: idItem },
                    function (data, textStatus, jqXHR) {
                        if (!data.ok) {
                            showDangerPopUp(data.msg);
                        }
                        else {
                            loadItemSiembra(data.item);
                        }
                    })
                    .done(function () {
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        showDangerPopUp(parsePostFail(jqXHR, errorThrown));
                    })
                    .always(function () {
                        $("#editButtonSiembra-" + idItem).show();
                        $("#editSpinnerSiembra-" + idItem).hide();
                    });

            });

            //Load Data
            function loadItemSiembra(item) {

                $("#validationErrorsSiembra").hide();
                $("#footerButtonsSiembra").show();
                $("#footerSpinnerSiembra").hide();


                $("#idSiembra").val(item.Id);
                $("#idvariedad").val(item.IdVariedad);
                $("#dosis").val(item.Dosis);
                $("#idtiposiembra").val(item.IdTipoSiembra);
                $("#fechasiembra").val(item.FechaSiembra);
                $("#idcultivoanterior").val(item.IdCultivoAnterior);
                $("#rendimientoestimado").val(item.RendimientoEstimado);
                $("#fechacosechaestimada").val(item.FechaCosechaEstimada);

                $("#tblPotrerosSiembra tbody tr").remove();

                for (var i = 0; i < item.Potreros.length; i++) {
                    renderPotreroSiembra(item.Potreros[i]);
                }

                $("#formTitleSiembra").html((item.Id== 0 ? "Nueva" : "Editar") + " Siembra");

                $.magnificPopup.open({
                    items: {
                        src: '#modalFormSiembra', // can be a HTML string, jQuery object, or CSS selector
                        type: 'inline',
                        preloader: false,
                        modal: true
                    }
                });
        }

            function renderPotreroSiembra(subItem) {

                var s = '<tr id="potreroSiembraRow-' + subItem.IdPotrero + '">';

                s += '<td>';
                s += '<input type="hidden" name="SubItems.Index" value="' + subItem.IdPotrero + '" />';
                s += '<input type="hidden" name="SubItems[' + subItem.IdPotrero + '].NombrePotrero" value="' + subItem.NombrePotrero + '" />';
                s += '<input type="hidden" name="SubItems[' + subItem.IdPotrero + '].IdPotrero" value="' + subItem.IdPotrero + '" />';
                s += '<input type="checkbox" name="SubItems[' + subItem.IdPotrero + '].Seleccionado" value="true" ' + (subItem.Seleccionado ? "checked" : "") + ' />';
                s += '<input type="hidden"   name="SubItems[' + subItem.IdPotrero + '].Seleccionado" value="false" />';
                s += '</td>';
                s += '<td>' + subItem.NombrePotrero + '</td> ';
                s += '</tr>';

                return $("#tblPotrerosSiembra tbody").append(s);
            }
            //Save
            $('.modal-confirmSiembra').click(function (e) {
                e.preventDefault();

                $("#validationErrorsSiembra").hide();
                $("#footerButtonsSiembra").hide();
                $("#footerSpinnerSiembra").show();

                var idItem = $("#idSiembra").val();
                var postUrl = idItem == 0 ? '@Url.Action("createsiembra")' : '@Url.Action("editsiembra")';

                var jqxhr = $.post(postUrl, $("#formItemSiembra").serialize(),
                    function (data, textStatus, jqXHR) {
                        if (!data.ok) {
                            showValidationErrors(data.msg, data.errors, "#validationErrorsSiembra");
                        }
                        else {
                            $.magnificPopup.close();

                            new PNotify({
                                title: 'Siembra',
                                text: data.msg,
                                type: 'success'
                            });

                            if (idItem != 0) {
                                $("#itemRowSiembra-" + idItem).replaceWith(data.view);
                            }
                            else {
                                $("#datatable-siembra tbody").append(data.view);
                            }
                        }
                    })
                    .done(function () {
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        showValidationErrors(parsePostFail(jqXHR, errorThrown), null, "#validationErrorsSiembra");
                    })
                    .always(function () {
                        $("#footerSpinnerSiembra").hide();
                        $("#footerButtonsSiembra").show();
                    });
            });

            //Close
            $('.modal-dismissSiembra').click(function (e) {
                e.preventDefault();
                $.magnificPopup.close();
            });

</script>    