@using AgroFichasWeb.Models
@model List<rpt_DetalleRecepcionesResult>
@{
    var temporada = (Temporada)ViewData["temporada"];
    ViewBag.Title = "Recepciones " + temporada.Nombre;
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}


@section filter {
    @using(Html.BeginForm()) {
        <table class="filter">
            <tr>
                <td>@Html.ActionLink("Volver", "index")</td>
                <td>@Html.Partial("TemporadaSelector")</td>
                <td>@Html.Partial("EmpresaSelector")</td>
                <td>@Html.Partial("SucursalSelector")</td>
                <td><input type="text" name="key" value="@ViewData["key"]" /></td>
                <td><input type="hidden" name="run" value="1" /></td>
                <td><input type="submit" value="Buscar" /></td>
            </tr>
        </table>
    }

}
    <table width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td class="RptLabel">Temporada:</td>
        <td nowrap="nowrap">@temporada.Nombre</td>
        <td class="RptLabel">Empresa:</td>
        <td>@ViewData["empresaLabel"]</td>
        <td class="RptLabel">Planta:</td>
        <td>@ViewData["sucursalLabel"]</td>
        <td class="RptLabel">Filtro:</td>
        <td width="100%">
            @(!String.IsNullOrWhiteSpace(ViewData["key"].ToString()) ? ViewData["key"] : "(ninguno)")
            @Html.ActionLink("Exportar", "detallerecepcionesexport", new { idTemporada = temporada.IdTemporada, idEmpresa = ViewData["idEmpresa"], idSucursal = ViewData["idSucursal"] , key = ViewData["key"] }, new { @class = "exportlink" })
        </td>
    </tr>
    </table>
    <br />

    <table width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td class="RptEncabezadoListado">Nro</td>
        <td class="RptEncabezadoListado">Fecha</td>
        <td class="RptEncabezadoListado" align="right">Nro<br />Manual</td>
        <td class="RptEncabezadoListado" align="right">Guía</td>
        <td class="RptEncabezadoListado" align="right">Rut</td>
        <td class="RptEncabezadoListado">Agricultor</td>
        <td class="RptEncabezadoListado">Planta</td>
        <td class="RptEncabezadoListado">Bodega</td>
        <td class="RptEncabezadoListado">Empresa</td>
        <td class="RptEncabezadoListado">Cultivo</td>
        <td class="RptEncabezadoListado">Variedad</td>
        <td class="RptEncabezadoListado">Exportado</td>
        <td class="RptEncabezadoListado" align="right">Kg Neto</td>
        <td class="RptEncabezadoListado" align="right">Kg Std</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="RptItemListado" valign="top">
            <td nowrap="nowrap">@item.IdProcesoIngreso</td>
            <td nowrap="nowrap" align="right">@item.FechaHoraLlegada.Value.ToString("dd/MM")</td>
            <td nowrap="nowrap" align="right">@item.NroIngresoManual</td>
            <td nowrap="nowrap" align="right">@item.NumeroGuia</td>
            <td nowrap="nowrap" align="right">@item.Rut</td>
            <td>@item.Nombre</td>
            <td>@item.Sucursal</td>
            <td>@item.NombreBodega</td>
            <td>@item.Empresa</td>
            <td>@item.Cultivo</td>
            <td>@item.Variedad</td>
            <td>@(item.FechaExportacion.HasValue ? item.FechaExportacion.Value.ToString("dd/MM") : "")</td>
            <td nowrap="nowrap" align="right">@String.Format("{0:#,##0}", item.PesoBruto.Value)</td>
            <td nowrap="nowrap" align="right">@String.Format("{0:#,##0}", item.PesoNormal.Value)</td>
        </tr>
    }
    <tr>
        <td class="RptPieListado" colspan="12">&nbsp;</td>
        <td class="RptPieListado" align="right">@String.Format("{0:#,##0}", Model.Select(m => m.PesoBruto).Sum().Value)</td>
        <td class="RptPieListado" align="right">@String.Format("{0:#,##0}", Model.Select(m => m.PesoNormal).Sum().Value)</td>
    </tr>
</table>