@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@model AgroFichasWeb.Controllers.PaginatedList<Cliente>

@{
    ViewBag.NombreSeccion = "Clientes";
    ViewBag.Title = "Administrar Clientes";

    var columnas = (int)ViewData["columnas"];
}

@section submenuSection {
    @Html.Partial("Submenu")
}

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".dataList tr:even").addClass("even");
    });
</script>

<h2>@ViewBag.Title</h2>

<div style="margin: 20px 0px">
    @using (Html.BeginForm("index", "clientesempresa", new { id = 0 }, FormMethod.Get))
    {
        @Html.Partial("EmpresaSelector")
        <input type="text" name="key" value="@ViewData["key"]" /> <input type="submit" value="Buscar" />
    }
</div>

@if (Request["msgerr"] != null && Request["msgerr"] != "")
{
    <div class="validation-summary-errors">
        @Request["msgerr"]
    </div>
}

@if (Request["msgok"] != null && Request["msgok"] != "")
{
    <div class="validation-summary-oks">
        @Request["msgok"]
    </div>
}

<span></span>

<table class="dataList" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <th align="left">
            Empresas
        </th>
        <th align="left">
            DNI/RUT
        </th>
        <th align="left">
            Razón Social
        </th>
        <th align="left">
            País
        </th>
        <th align="left">
            Teléfono
        </th>
        <th align="left">
            Teléfono 2
        </th>
        <th align="left">
            Email Cliente
        </th>
        <th align="left">
            Email Contacto Comercial
        </th>
        <th align="center">
            Editar
        </th>
        <th align="center">
            Eliminar
        </th>
    </tr>
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="@columnas" class="norecords">
                No hay registros
            </td>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr valign="top">
            <td align="left">
                @foreach (var empresa in item.GetEmpresas(item.IdCliente).Where(X => X.Tiene == true))
                {
                    @empresa.Empresa.Nombre<br />
                }
            </td>
            <td align="left">
                @item.DNI
            </td>
            <td align="left">
                @item.RazonSocial
            </td>
            <td align="left">
                @(item.PaisCodigo != null ? item.Pais.PaisNombre : "")
            </td>
            <td align="left">
                @item.Telefono
            </td>
            <td align="left">
                @item.Telefono2
            </td>
            <td align="left">
                @item.EmailCliente
            </td>
            <td align="left">
                @item.EmailContactoComercial
            </td>
            <td align="center">
                @Html.ActionImage(Url.Content("~/Content/images/editar.png"), "editar", new { id = item.IdCliente })
            </td>
            <td align="center">
                @Html.ActionImage(Url.Content("~/Content/images/eliminar.png"), "eliminar", new { id = item.IdCliente })
            </td>
        </tr>
    }
    <tr>
        <td colspan="@columnas" class="pager">
            @Model.Paginator("index", "ClientesEmpresa", ViewContext.RequestContext)
        </td>
    </tr>
</table>