<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="wrapper">
        <div class="un-TopBar">
            <div class="un-TopBar-Logo">
                <img src="~/content/images/logo_topbar.png" alt="Empresas Agrotop" border="0" />
            </div>
            <div class="un-TopBar-Content">
                @RenderSection("topcontent", required: false)
            </div>
        </div>
        <div id="mainContentWrapper">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div id="topper"></div>
    </div>
</body>
</html>
