@using AgroFichasWeb.Models
@model CAL_LECargaGranelContenedor
@{
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    CAL_LECargaGranel listaEmpaque = (CAL_LECargaGranel)ViewData["listaEmpaque"];
    ViewBag.Title = string.Format("Contenedores de la Lista de Empaque #{0}", listaEmpaque.IdLECargaGranel);
    ViewBag.SubTitle = "Reasignar Contenedor";
}
@section VendorCSS
{
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetimepicker-2.5.11/jquery.datetimepicker.css")" />
    <link rel="stylesheet" href="~/Content/porto/vendor/summernote/summernote.css" />
    <link href="~/Content/porto/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
}
@section VendorScripts
{
    <!-- Specific Page Vendor -->
    <script src="@Url.Content("~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js")"></script>
    <script src="~/Content/porto/vendor/summernote/summernote.js"></script>
    <script src="~/Content/porto/vendor/select2/js/select2.min.js"></script>
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}
<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Contenedor <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <span class="form-control" style="background-color: #ebfbdf;">@Model.NContenedor</span>
                                        @*@Html.TextBox("IdDespachoCargaGranel", Model.IdDespachoCargaGranel)*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Lista de Empaque <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("IdLECargaGranel", Model.GetListaEmpaqueCargaGranel(), "(Seleccione Lista de Empaque)", new { @class = "form-control populate", @data_plugin_selectTwo = "" })
                                        @Html.ValidationMessage("IdLECargaGranel")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Reasignar este Contenedor" />
                        </div>
                    </div>
                </footer>
                @Html.Hidden("NGuiaDespacho", Model.NGuiaDespacho, new { @class = "form-control", maxlength = "32" })
                @Html.Hidden("SelloLinea", Model.SelloLinea, new { @class = "form-control", maxlength = "128" })
                @Html.Hidden("PesoNeto", Model.PesoNeto, new { @class = "form-control", maxlength = "128" })
                @Html.Hidden("Tara", Model.Tara, new { @class = "form-control", maxlength = "32" })
            }
        </section>
    </div>
</div>
<!-- end: page -->