@using AgroFichasWeb.Models
@model List<CAL_ParametroMetalPesado>
@{
    ViewBag.Title = "Parámetros de Metales Pesados";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            },
            "pageLength": 100
        });
    </script>
}

@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["errMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
    </div>
}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Administrar Parámetros de Metales Pesados</h2>
        @if (permisosUsuario.Crear)
        {
            <div class="mb-md" style="right: 15px;position: absolute;top: 15px;">
                <a href="@Url.Action("Crear", "CALParametrosMetalesPesados", new { })" class="btn btn-primary">Crear Parámetro de Metal Pesado <i class="fa fa-plus"></i></a>
            </div>
        }
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>FormatString</th>
                    <th>UM</th>
                    <th>Nombre (en)</th>
                    <th>FormatString (en)</th>
                    <th>UM (en)</th>
                    <th>Decimales</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr valign="top">
                        <td>@item.IdParametroMetalPesado</td>
                        <td>@item.Nombre</td>
                        <td>@item.FormatString</td>
                        <td>@item.UM</td>
                        <td>@item.Nombre_en</td>
                        <td>@item.FormatString_en</td>
                        <td>@item.UM_en</td>
                        <td>@item.Decimales</td>
                        <td>
                            @if (permisosUsuario.Actualizar)
                            {
                                <button id="edit_@item.IdParametroMetalPesado" onclick="window.location.href='@Url.Action("Editar", new { id = item.IdParametroMetalPesado })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"> <i class="fa fa-edit"></i></button>
                            }
                            @if (permisosUsuario.Borrar)
                            {
                                <button id="delete_@item.IdParametroMetalPesado" onclick="window.location.href='@Url.Action("Eliminar", new { id = item.IdParametroMetalPesado })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Eliminar"> <i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->