@using AgroFichasWeb.Models
@model List<vw_CAL_SoloTurnoPallet>
@{
    ViewBag.Title = "Informe de Paletización por Turno";

    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    var plantas = (IEnumerable<SelectListItem>)ViewData["PlantasProduccion"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'desc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
    </script>
}

@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.Raw(Server.UrlDecode(Request["errMsg"]))
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Filtros de Búsqueda</h2>
            </header>
            <div class="panel-body">
                <div class="form-inline center">
                    @using (Html.BeginForm("PaletizacionPorTurno", "calinformes", new { id = 0 }, FormMethod.Get))
                    {
                        <div class="form-group">
                            @Html.DropDownList("IdPlantaProduccion", plantas, new { @class = "form-control" })
                        </div>

                        <div class="visible-sm clearfix mt-sm mb-sm"></div>
                        <input class="btn btn-default" type="submit" value="Buscar" />
                        <div class="clearfix visible-xs mb-sm"></div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Turnos</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Turno</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (vw_CAL_SoloTurnoPallet soloTurnoPale in Model)
                {
                    <tr>
                        <td>@string.Format("{0:dd/MM/yyyy}", soloTurnoPale.Date)</td>
                        <td>@soloTurnoPale.Turno</td>
                        <td>@soloTurnoPale.Desde</td>
                        <td>@soloTurnoPale.Hasta</td>
                        <td>
                            @using (Html.BeginForm("PaletizacionPorTurno", "CALInformes", FormMethod.Post))
                            {
                                <input type="hidden" id="dateTime" name="dateTime" value="@soloTurnoPale.Date" />
                                <input type="hidden" id="IdTurno" name="IdTurno" value="@soloTurnoPale.IdTurno" />
                                <button id="btnVer" type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ver Informe"> <i class="fa fa-eye"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->