@using AgroFichasWeb.Models
@model CAL_InsumoSalida
@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";

    if (Model.IdInsumoSalida == 0)
    {
        ViewBag.SubTitle = "Crear Salida de Insumo";
    }
    else
    {
        ViewBag.SubTitle = "Editar Salida de Insumo";
    }
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Proveedor <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("IdProveedor", Model.GetProveedores(Model.IdProveedor), "(Seleccione Proveedor)", new { @class = "form-control" })
                                        @Html.ValidationMessage("IdProveedor")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Cantidad <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("Cantidad", Model.Cantidad, new { @class = "form-control", maxlength = "50" })
                                        @Html.ValidationMessage("Cantidad")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Guardar este Insumo" />
                        </div>
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<!-- end: page -->