@using AgroFichasWeb.Models
@model CAL_InsumoEntrada

@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    ViewBag.SubTitle = "Rechazar Entrada de Insumo";
    var insumo = (CAL_Insumo)ViewData["insumo"];
    var causaRechazoList = (List<CAL_InsumoCausaRechazo>)ViewData["causaRechazoList"];
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}

@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["errMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
    </div>
}
<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Causa de Rechazo <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @foreach (var causaRechazo in causaRechazoList)
                                        {
                                            <input type="checkbox" name="causaRechazo" id="causaRechazo_@causaRechazo.IdCausaRechazo" value="@causaRechazo.IdCausaRechazo" /> @causaRechazo.Descripcion<br />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Rechazar esta Entrada" />
                        </div>
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<!-- end: page -->