@using AgroFichasWeb.Models
@using AgroFichasWeb.Views
@model List<CAL_DespachoPale>
@{
    ViewBag.Title = "Despachos de Pallets";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
    var plantas = (IEnumerable<SelectListItem>)ViewData["PlantasProduccion"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [0, 'desc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
    </script>
}
@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.Raw(Server.UrlDecode(Request["errMsg"]))
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Filtros de Búsqueda</h2>
            </header>
            <div class="panel-body">
                <div class="form-inline center">
                    @using (Html.BeginForm("index", "caldespachospallets", new { id = 0 }, FormMethod.Get))
                    {
                        <div class="form-group">
                            @Html.DropDownList("IdPlantaProduccion", plantas, new { @class = "form-control" })
                        </div>

                        <div class="visible-sm clearfix mt-sm mb-sm"></div>
                        <input class="btn btn-default" type="submit" value="Buscar" />
                        <div class="clearfix visible-xs mb-sm"></div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>

<section class="section">
    <div class="container container-with-sidebar">
        <div class="row center">
            <div class="col-md-12 mb-xlg">
                <h2 class="text-dark mb-xs text-weight-light mt-xlg">Escanea tu <strong>QR-Code</strong></h2>
                <a class="btn btn-3d btn-xlg mt-md mb-xlg" href="@Url.Action("QRDespachoPallet", "CALDespachosPallets")" style="align-items: center; background-color: #383f48; border-color: #383f48 #383f48 #22262b; color: #fff;"><i class="fa fa-qrcode fa-4x"></i><br> DESPACHO CARGA</a>
                @if (permisosUsuario.CrearCargaDividida)
                {
                    <a class="btn btn-3d btn-xlg mt-md mb-xlg" href="@Url.Action("QRCargaDivididaPallet", "CALDespachosPallets")" style="background-color: #383f48; border-color: #383f48 #383f48 #22262b; color: #fff;"><i class="fa fa-qrcode fa-4x"></i><br> DIVIDIR CARGA</a>
                }
            </div>
        </div>
    </div>
</section>
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Administrar Despachos de Pallets</h2>
        @if (permisosUsuario.Crear)
        {
            <div class="mb-md" style="right: 15px;position: absolute;top: 15px;">
                <a href="@Url.Action("VerOP", "CALDespachosPallets")" class="btn btn-primary">Crear Despacho Manual <i class="fa fa-plus"></i></a>
            </div>
        }
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Fecha Despacho</th>
                    <th>Pallet</th>
                    <th>Lote</th>
                    <th>Contenedor</th>
                    <th>Sacos</th>
                    <th>Producto</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr valign="top">
                        <td>@item.IdDespachoPale</td>
                        <td>@item.CAL_OrdenProduccion.GetCliente(item.CAL_OrdenProduccion.IdCliente).RazonSocial</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.FechaHoraIns)</td>
                        <td>@item.IdPale<br />@item.CAL_Pale.CodigoInterno</td>
                        <td>@item.GetLote(item.IdDetalleOrdenProduccion)</td>
                        <td>@item.CAL_RITContenedor.NContenedor</td>
                        <td>
                            @if (item.SacosDañados == 0)
                            {
                                @item.CAL_Pale.CantidadPaletizada
                            }
                            else
                            {
                                @item.SacosTotales
                            }
                        </td>
                        <td>
                            @item.CAL_DetalleOrdenProduccion.CAL_Producto.Nombre<br />
                            <small>@item.CAL_DetalleOrdenProduccion.CAL_Subproducto.Nombre</small>
                        </td>
                        <td><span class="label label-info" style="display: block">Cargado</span></td>
                        <td>
                            <button id="@string.Format("view_{0}", item.IdDespachoPale)" onclick="window.location.href='@Url.Action("VerDespacho", new { id = item.IdDespachoPale })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ver Análisis y Despacho"> <i class="fa fa-eye"></i></button>
                            @if (permisosUsuario.Actualizar)
                            {
                                <button id="edit_@item.IdDespachoPale" onclick="window.location.href='@Url.Action("EditarDespachoPallet", new { id = item.IdDespachoPale })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"> <i class="fa fa-edit"></i></button>
                            }
                            @if (permisosUsuario.Borrar)
                            {
                                <button id="delete_@item.IdDespachoPale" onclick="window.location.href='@Url.Action("Eliminar", new { id = item.IdDespachoPale })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Eliminar"> <i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->