@using AgroFichasWeb.Models
@using AgroFichasWeb.Views
@using AgroFichasWeb.AppLayer.Extensions

@model AgroFichasWeb.Controllers.PaginatedList<ConvenioPrecioAutorizacion>

@{
    var temporada = (Temporada)ViewData["temporada"];
    var temporadas = (List<Temporada>)ViewData["temporadas"];

    ViewBag.NombreSeccion = "Autorizaciones de Precio";
    ViewBag.Title = "Administrar Autorizaciones de Precio " + temporada.Nombre;

    var puedeElimimar = SYS_User.Current().HasPermiso(1028);
}


@section submenuSection {
    @Html.Partial("Submenu")
}

<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".dataList tr:even").addClass("even");
        });
</script>

<h2>@ViewBag.Title</h2>

<div style="margin: 20px 0px">
    @using (Html.BeginForm("autorizaciones", "conveniosprecio", new { id = 0 }, FormMethod.Get))
    {
        @Html.Partial("TemporadaSelector")
        <input type="text" name="key" value="@ViewData["key"]" />
            <input type="submit" value="Buscar" />
    }
</div>

@Html.Partial("~/Views/Controls/ActionResultMessages.cshtml")

<table class="dataList" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <th align="left">
            Estado
        </th>
        <th align="left">
            ID
        </th>
        <th align="left">
            Contrato
        </th>
        <th align="left">
            Empresa
        </th>
        <th align="left">
            Cultivo
        </th>
        <th align="left">
            Nombre
        </th>
        <th align="center">
            Detalles
        </th>
        @if (puedeElimimar)
        {
            <th align="center">
                Eliminar
            </th>
        }
    </tr>
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="13" class="norecords">
                No hay registros
            </td>
        </tr>
    }

    @foreach (var item in Model)
    {
        var itemParams = Model.RouteValues(new RouteValueDictionary() { { "id", item.IdConvenioPrecioAutorizacion } });

        <tr valign="top">
            <td align="center" style="color:#000000; background-color: @item.ColorAutorizacion">
                @item.EstadoAutorizacion
            </td>
            <td align="left">
                @item.IdConvenioPrecioAutorizacion
            </td>
            <td align="left" nowrap="nowrap">
                @item.Contrato.NumeroContrato
            </td>
            <td align="left">
                @item.Contrato.Empresa.Nombre
            </td>
            <td align="left">
                @item.Contrato.DescripcionCultivos("<br/>").ToMvcHtmlString()
            </td>
            <td align="left">
                @item.Contrato.Agricultor.Nombre
            </td>

            <td align="center">
                @Html.ActionLink("Detalles", "autorizacion", itemParams)
            </td>
            @if (puedeElimimar)
            {
                <td align="center">
                    @if (item.Autorizada == null)
                    {
                        @Html.ActionImage(Url.Content("~/Content/images/eliminar.png"), "EliminarAutorizacion", itemParams)
                    }
                </td>
            }
        </tr>
    }
    <tr>
        <td colspan="13" class="pager">
            @Model.Paginator("autorizaciones", "conveniosprecio", ViewContext.RequestContext)
        </td>
    </tr>
</table>