@using AgroFichasWeb.Models
@using AgroFichasWeb.ViewModels.Liquidaciones

@model ProcesarSolicitudPrecioViewModel
@{
    ViewBag.NombreSeccion = "Convenios de Precios";
    ViewBag.Title = "Procesar Solicitud de Precio";

    var contratosList = from c in Model.ContratosCandidatos
                        select new SelectListItem()
                        {
                            Text = c.Descripcion(),
                            Value = c.IdContrato.ToString(),
                            Selected = c.IdContrato == (Model.IdContrato ?? 0)
                        };
}

@section submenuSection {
    @Html.Partial("Submenu")
}

<h2>@ViewBag.Title</h2>
@Html.ValidationSummary("No fue posible procesar su solicitud. Por favor haga las siguientes correcciones:")

@using (Html.BeginForm("ProcesarSolicitudPrecio", "conveniosprecio", (RouteValueDictionary)ViewData["indexRouteValues"], FormMethod.Post, new { id = "frm" }))
{
    @Html.HiddenFor(m => m.IdSolicitudPrecio)
    @Html.HiddenFor(m => m.Action)

    <fieldset class="dataForm">
        @Html.Partial("SolicitudPrecio", Model.Solicitud)
        <p>
            <label>Contrato</label>
            @if (contratosList.Count() > 0)
            {
                @Html.DropDownListFor(m => m.IdContrato, contratosList)
            }
            else
            {
                <div class="validation-summary-errors">
                    No hay contratos disponibles.
                </div>
                @Html.Hidden("IdContrato", null)
            }
        </p>
        <p class="okcancel">
            <input type="button" id="btnAutorizar" value="Crear Convenio de Precio" style="background-color: green; color: white;" />
            <input type="button" id="btnRechazar" value="Descartar Solicitud" style="background-color: red; color: white;" />
            o @Html.ActionLink("Cancelar", "ProcesarSolicitudPreciosIndex", (RouteValueDictionary)ViewData["indexRouteValues"])
        </p>
    </fieldset>

    <script type="text/javascript">
            $(document).ready(function () {
                $("#btnAutorizar").click(function () {
                    setAction('ACEPTAR');
                });
                $("#btnRechazar").click(function () {
                    setAction('DESCARTAR');
                });
            });

            function setAction(action) {
                $("#Action").val(action);
                $('#frm')[0].submit();
            }
    </script>
}