@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@model AgroFichasWeb.Controllers.PaginatedList<LOG_ControlCamionPlanta>

@{
    ViewBag.NombreSeccion = "Control del Camión en Planta";
    ViewBag.Title = "Ver Estados";

    string key = (string)ViewData["key"];
}

@section submenuSection {
    @Html.Partial("Submenu")
}

<h2 style="display: block">@ViewBag.Title</h2>

<div style="margin: 20px 0px">
    @using (Html.BeginForm("index", "controlcamionplanta", null, FormMethod.Get))
    {
        <input type="text" name="idPedido" value="@ViewData["idPedido"]" placeholder="Núm. Ped. 123" /> <input type="submit" value="Buscar" />
    }
</div>

<table class="dataList" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <th align="left">Núm. Ped.</th>
        <th align="left">Camión</th>
        <th align="left">Estado</th>
        <th align="left">Fecha</th>
        <th align="left">User</th>
        <th align="left">Firma Digital</th>
    </tr>
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="6" class="norecords">No hay registros</td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr valign="top">
            <td align="left">@item.IdPedido</td>
            <td align="left">@item.LOG_Camion.Patente</td>
            <td align="left">@item.LOG_EstadoControlCamionPlanta.Descripcion</td>
            <td align="left">@item.FechaHoraIns.ToString("dd/MM/yyyy hh:mm")</td>
            <td align="left">@item.UserIns</td>
            <td align="left">@item.Firma</td>
        </tr>
    }
    <tr>
        <td colspan="6" class="pager">@Html.Paginador(Model.PageIndex, Model.TotalPages, "", "controlcamionplanta")</td>
    </tr>
</table>