@using AgroFichasWeb.Models
@model CAL_RITSelloTara
@{
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    CAL_RIT cAL_RIT = (CAL_RIT)ViewData["cAL_RIT"];
    ViewBag.Title = string.Format("Contenedor #{0}", cAL_RIT.CAL_RITContenedor.NContenedor);
    //ViewBag.SubTitle = "Agregar Sello y Tara";

    if (Model.NContenedor == null)
    {
        ViewBag.SubTitle = "Agregar Sello y Tara";
    }
    else
    {
        ViewBag.SubTitle = "Editar Sello y Tara";
    }
}
@section VendorCSS
{
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetimepicker-2.5.11/jquery.datetimepicker.css")" />
    <link rel="stylesheet" href="~/Content/porto/vendor/summernote/summernote.css" />
    <link href="~/Content/porto/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
}
@section VendorScripts
{
    <!-- Specific Page Vendor -->
    <script src="@Url.Content("~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js")"></script>
    <script src="~/Content/porto/vendor/summernote/summernote.js"></script>
    <script src="~/Content/porto/vendor/select2/js/select2.min.js"></script>
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}
<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm((Model.NContenedor == null ? "CrearSelloTara" : "EditarSelloTara"), "CALRIT", FormMethod.Post))
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Sello de Línea <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("SelloLinea", Model.SelloLinea, new { @class = "form-control", maxlength = "128" })
                                        @Html.ValidationMessage("SelloLinea")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Tara <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("Tara", Model.Tara, new { @class = "form-control", maxlength = "32" })
                                        @Html.ValidationMessage("Tara")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Agregar Sello y Tara" />
                        </div>
                    </div>
                </footer>
                @Html.Hidden("IdRIT", Model.IdRIT)
                @Html.Hidden("IdContenedor", cAL_RIT.CAL_RITContenedor.IdContenedor)
                @Html.Hidden("NContenedor", cAL_RIT.CAL_RITContenedor.NContenedor)
            }
        </section>
    </div>
</div>
<!-- end: page -->