@using AgroFichasWeb.Models
@using AgroFichasWeb.ViewModels.SoftwareCalidad
@model RITViewModel
@{
    ViewBag.Title = string.Format("Registro de Inspección de Transporte N° {0}", Model.OrdenProduccion.LoteComercial);
    Layout = "~/Views/Shared/_ResponsiveLayoutPrint.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
}
@section VendorCSS
{
    <!-- Invoice Print Style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/stylesheets/invoice-print.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
}
@section CustomScripts
{
    <script>
        window.print();
        //window.close();
    </script>
}
<div class="invoice">
    <header class="clearfix">
        <div class="row">
            <div class="col-sm-8 mt-md">
                <h2 class="h2 text-dark text-weight-bold">
                    Registro de Inspección de Transporte <span style="font-family: Consolas">#@Model.RegistroInspeccionTransporte.IdRIT</span><br />
                    <small>Orden de Producción <span style="font-family: Consolas">@Model.OrdenProduccion.LoteComercial</span></small>
                </h2>
            </div>
            <div class="col-sm-4 text-right mt-md mb-md">
                <address class="ib mr-xlg">
                </address>
                <div class="ib"></div>
            </div>
        </div>
    </header>
    <header class="clearfix">
        <div class="bill-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="bill-to">
                        <h3 class="h3 mt-none mb-sm text-dark text-weight-bold">ANTECEDENTES PRELIMINARES:</h3>
                        <div class="text-left">
                            <table class="table h5 text-dark" style="border: none">
                                <tbody>
                                    <tr class="b-top-none">
                                        <td colspan="2"><span class="text-dark text-weight-semibold">CONTENEDOR:</span></td>
                                        <td class="text-left"><span class="value">@Model.Contenedor.NContenedor</span></td>
                                    </tr>
                                    <tr class="b-top-none">
                                        <td colspan="2"><span class="text-dark text-weight-semibold">PATENTE:</span></td>
                                        <td class="text-left"><span class="value">@Model.RegistroInspeccionTransporte.Patente</span></td>
                                    </tr>
                                    <tr class="b-top-none">
                                        <td colspan="2"><span class="text-dark text-weight-semibold">APROBADO:</span></td>
                                        <td class="text-left"><span class="value @(Model.RegistroInspeccionTransporte.Aprobado ? "cal-ValidValue" : "cal-NoValidValue")">@(Model.RegistroInspeccionTransporte.Aprobado ? string.Format("Sí {1:dd/MM/yyyy} {0}", Model.OrdenProduccion.GetUser(Model.RegistroInspeccionTransporte.UserIns).FullName, Model.RegistroInspeccionTransporte.FechaHoraIns) : string.Format("No {1:dd/MM/yyyy} {0}", Model.OrdenProduccion.GetUser(Model.RegistroInspeccionTransporte.UserIns).FullName))</span></td>
                                    </tr>
                                    <tr class="b-top-none">
                                        <td colspan="2"><span class="text-dark text-weight-semibold">VERIFICADO:</span></td>
                                        <td class="text-left"><span class="value @(Model.RegistroInspeccionTransporte.Verificado.HasValue && Model.RegistroInspeccionTransporte.Verificado.Value ? "cal-ValidValue" : "cal-NoValidValue")">@(Model.RegistroInspeccionTransporte.Verificado.HasValue && Model.RegistroInspeccionTransporte.Verificado.Value ? string.Format("Sí {1:dd/MM/yyyy} {0}", Model.OrdenProduccion.GetUser(Model.RegistroInspeccionTransporte.UserInsVerificacion).FullName, Model.RegistroInspeccionTransporte.FechaHoraInsVerificacion) : "No")</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @if (Model.ParametroRevisarList.Count > 0)
    {
        <div class="bill-info" style="margin-top: 20px;">
            <h3 class="h3 mt-none mb-sm text-dark text-weight-bold">PARÁMETROS A REVISAR</h3>
            <div class="text-left">
                <table class="table h5 text-dark" style="border: none">
                    <thead>
                        <tr>
                            <th colspan="2">Parámetro</th>
                            <th>Cumple</th>
                            <th>Acción Correctiva</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CAL_RITParametroRevisarContenedor parametroRevisar in Model.ParametroRevisarList)
                        {
                            <tr class="b-top-none">
                                <td colspan="2"><span class="text-dark text-weight-semibold">@(parametroRevisar.CAL_ParametroRevisarContenedor.Nombre):</span></td>
                                <td><span class="value @(parametroRevisar.Cumple ? "cal-ValidValue" : "cal-NoValidValue")">@(parametroRevisar.Cumple ? "Sí" : "No")</span></td>
                                <td>@(parametroRevisar.IdAccionCorrectiva.HasValue ? parametroRevisar.CAL_RITAccionCorrectiva.Descripcion : "(No tiene Acción)")</td>
                                <td class="text-left"><span class="value">@parametroRevisar.Observacion</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <div class="bill-info" style="margin-top: 20px;">
        <h3 class="h3 mt-none mb-sm text-dark text-weight-bold">OBSERVACIONES</h3>
        <div class="text-left">
            @Html.Raw(Model.RegistroInspeccionTransporte.Observacion)
        </div>
    </div>
</div>