@using AgroFichasWeb.Models

@model List<ADQ_SolicitudCompra>
@{
    ViewBag.Title = "Órdenes de Compra";
    Layout = "~/Views/Shared/_ResponsiveLayoutVien.cshtml";

    var solicitudCompra = (ADQ_SolicitudCompra)ViewData["solicitudCompra"];
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
    var user = SYS_User.Current();

}
@section VendorCSS
{
    <link href="@Url.Content("~/Content/porto/vendor/sweetalert/dist/sweetalert.css")" rel="stylesheet" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/javascripts/ui-elements/jquery.sweet-alert.init.js")"></script>
}

@section CustomScripts
{
    @foreach (var item in Model)
    {
        <script>
            $("#delete_@item.IdSolicitud").click(function() {
                swal({
                    title: "¿Estás seguro que deseas Anular esta solicitud de orden de compra?",
                    text: "ID: " +@item.IdSolicitud+ "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "SI, Anular!",
                    cancelButtonText: "NO, Cancelar!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = '@Url.Action("Anular", new { id = item.IdSolicitud })'
                    } else {
                        swal("Cancelado", "No se efectuo la acción", "error");
                    }
                });
            });
        </script>
    }
    <script>
        $('#datatable').dataTable({
            "ordering": false,
            "order": [0, 'asc'],
            "searching": false,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
    </script>
}

<section role="main" class="content-body">
    @if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
    {
        <div class="row">
            @if (!string.IsNullOrEmpty(Request["errMsg"]))
            {
                <div class="col-sm-12">
                    <div class="mb-md">
                        <div class="alert alert-danger rounded">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Request["errMsg"]
                        </div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Request["okMsg"]))
            {
                <div class="col-sm-12">
                    <div class="mb-md">
                        <div class="alert alert-success rounded">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Request["okMsg"]
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @section CustomButton {
        <a href="@Url.Action("Crear", "ADQOrdenesCompra", new { })" class="btn btn-primary btn-lg top-right-button mr-1">Nueva Solicitud de Compra</a>
    }
    <div class="row">

        <div class="col-12">


            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-4">Filtros de Búsqueda</h5>
                    @using (Html.BeginForm("index", "ADQOrdenesCompra", new { id = 0 }, FormMethod.Get))
                    {
                        <div class="form-inline">
                            @Html.DropDownList("IdEmpresa", solicitudCompra.GetEmpresas(solicitudCompra.IdEmpresa), "(Todas las Empresas)", new { @class = "form-control mb-2 mr-sm-2" })

                            @Html.DropDownList("IdTipoCompra", solicitudCompra.GetTipoCompra(solicitudCompra.IdTipoCompra), "(Todos los Tipos de Compra)", new { @class = "form-control mb-2 mr-sm-2" })


                            @Html.DropDownList("IdCentroCosto", solicitudCompra.GetCentroCosto(solicitudCompra.IdCentroCosto), "(Todos los Centros de Costos)", new { @class = "form-control mb-2 mr-sm-2" })


                            @Html.DropDownList("IdEstado", solicitudCompra.GetEstados(solicitudCompra.IdEstado), "(Todos los Estados)", new { @class = "form-control mb-2 mr-sm-2" })

                            <div class="visible-sm clearfix mt-sm mb-sm"></div>
                            <input type="text" name="key" class="form-control mb-2 mr-sm-2" value="@ViewData["key"]" /> <input class="btn btn-sm btn-outline-primary mb-2" type="submit" value="Buscar" />



                        </div>
                    }
                </div>
            </div>


        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 data-tables-hide-filter">
            <div class="card">
                <div class="card-body">

                    <table class="data-table data-tables-pagination responsive nowrap"
                           data-order="[[ 0, &quot;desc&quot; ]]">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>Tipo Compra</th>
                                <th>Centro Costo</th>
                                <th>Empresa</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr valign="top">
                                    <td>@item.IdSolicitud</td>
                                    <td>@item.GetCliente(item.UserIns).FullName</td>
                                    <td>@item.ADQ_TipoCompra.Nombre</td>
                                    <td>@item.ADQ_CentroCosto.Nombre</td>
                                    <td>@item.Empresa.Nombre</td>
                                    @foreach (var detalle in item.ADQ_DetalleSolicitudCompra.Take(1))
                                    {
                                        <td>@string.Format("{0} {1}...",detalle.Cantidad,detalle.Descripcion.Substring(0, (detalle.Descripcion.Length > 20) ? 20 : detalle.Descripcion.Length ))</td>
                                    }
                                    <td><span class="@item.CreateCSSClassResponsive()">@item.ADQ_Estado.Descripcion</span></td>
                                    <td>
                                        <span data-toggle="modal" data-target=".modalInfo_@item.IdSolicitud"><button class="btn btn-info btn-sm mb-1" data-toggle="tooltip" data-placement="top" title="Detalle"> <i class="simple-icon-eye"></i></button></span>
                                        <button id="@string.Format("dctos_{0}", item.IdSolicitud)" onclick="window.location.href='@Url.Action("Index", "ADQDocumentos", new { id = item.IdSolicitud })'" class="btn btn-primary btn-sm mb-1" data-toggle="tooltip" data-placement="top" title="Documentos"> <i class="simple-icon-folder-alt"></i></button>
                                        @if (item.IdEstado != 99 && item.IdEstado != 6)
                                        {<button id="delete_@item.IdSolicitud" class="btn btn-danger mb-1" data-toggle="tooltip" data-placement="top" title="Anular Solicitud"> <i class="simple-icon-trash"></i></button>}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</section>

@Html.Partial("DetalleInvoice", Model)