@using AgroFichasWeb.Models
@model CAL_Metodologia
@{
    ViewBag.Title = "Metodologías";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";

    if (Model.IdMetodologia == 0)
    {
        ViewBag.SubTitle = "Crear Metodología";
    }
    else
    {
        ViewBag.SubTitle = "Editar Metodología";
    }
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">@ViewBag.SubTitle</h2>
            </header>
            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Análisis <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("Analisis", Model.Analisis, new { @class = "form-control" })
                                        @Html.ValidationMessage("Analisis")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Técnica <span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("Tecnica", Model.Tecnica, new { @class = "form-control" })
                                        @Html.ValidationMessage("Tecnica")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12 center">
                            <input type="submit" class="btn btn-primary" value="Guardar esta Metodología" />
                        </div>
                    </div>
                </footer>
            }
        </section>
    </div>
</div>
<!-- end: page -->