@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@{
    ViewBag.Title = "Certificados";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
}

@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
}

@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
    <script src="@Url.Content("~/Scripts/datetimepicker-master/build/jquery.datetimepicker.full.min.js")"></script>
}

@section CustomScripts
{
    <script>
        $('#datatable-certificados-envasado').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });

        $('#datatable-certificados-carga-a-granel').dataTable({
            "ordering": true,
            "order": [0, 'asc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
    </script>
}

<section class="panel col-md-6">
    <header class="panel-heading">
        <h2 class="panel-title">Certificados Envasado</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-certificados-envasado">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Batch Control Of Technical Certificate</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoBatchControlTechnicalCertificate")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Certificado de Vida Útil</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoVidaUtil")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Certificado NON GMO</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoNonGmo")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Certificado Producción Por Lote</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoProduccionPorLote")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Certificate Of Analysis de Marico Limited</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoCertificateAnalysis")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Declaration Of Non-Wood Packing Material</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoNonWoodPackingMaterial")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Technical Certificate de PepsiCo India</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadoTechnicalCertificate")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Certificado de Calidad</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadosEnvasado")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="panel col-md-6">
    <header class="panel-heading">
        <h2 class="panel-title">Certificados Carga a Granel</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-certificados-carga-a-granel">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Certificado de Calidad</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCertificadosCargaGranel")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Certificado de Tratamiento Térmico</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCCGTratamientoTermico")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td>Control de Groats Por Lote de Certificado de Calidad</td>
                    <td><button onclick="window.location.href='@Url.Action("Index", "CALCCGControlPorLote")'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-eye"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>