@using Agrotop.Extranet.Models
@using Agrotop.Extranet.AppLayer.Extensions

@model PRO_Potrero
@{
    var temporadas          = (IEnumerable<Temporada>)ViewData["temporadas"];
    var temporada           = (Temporada)ViewData["temporada"];
    var agricultor          = (Agricultor)ViewData["agricultor"];
    var selectList          = (IEnumerable<SelectListItem>)ViewData["selectList"];
    var mesesSelectList     = (IEnumerable<SelectListItem>)ViewData["mesesSelectList"];
    var evaluacionesSuelo   = (List<PRO_EvaluacionSuelo>)ViewData["evaluacionesSuelo"];
    var parametroAnalisis   = (List<PRO_ParametroAnalisis>)ViewData["parametroAnalisis"];
    var laboresRealizadas   = (List<PRO_Actividad>)ViewData["laboresRealizadas"];
    var labores             = (List<PRO_MecanizacionLabor>)ViewData["labores"];
    var insumosAplicados    = (List<PRO_Actividad>)ViewData["insumosAplicados"];
    var insumos             = (List<PRO_Insumo>)ViewData["insumos"];
    var fletesRealizados    = (List<PRO_Actividad>)ViewData["fletesRealizados"];
    var fletes              = (List<PRO_Flete>)ViewData["fletes"];
    var manoObrasRealizadas = (List<PRO_Actividad>)ViewData["manoObrasRealizadas"];
    var manoObras           = (List<PRO_ManoObra>)ViewData["manoObras"];

    ViewBag.Title = "Plataforma Productiva " + temporada.Nombre;
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var rand = new Random();

    string[] items1 = { "pH CaCl2", "pH agua", "M.O.", "N (ppm)", "P disponible (ppm)", "K disponible (ppm)", "S disponible (ppm)", "Ca Int (meq/100g)", "Mg Int (meq/100g)", "Na Int (mg/100g)", "K Int (mg/100g)", "Al Int (meq/100g)", "Suma de bases (meq/100g)", "CIC (meq/100g)", "% Sat Al", "Al ext (ppm)", "Capacidad fijadora P", "CE Mmhos / cm" };
}

@section scripts {
    <script src="~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js"></script>
    <script>
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('es');
        jQuery('#ES__FECHA').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            startDate: new Date(),
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            timepicker: false,
            todayButton: true,
            value: '@string.Format("{0:yyyy/MM/dd}", DateTime.Now)',
            weeks: true
        });

        $("#resultados-evaluacion-suelo-form").hide();
        $("#mecanizacion-labores-form").hide();
        $("#insumos-form").hide();
        $("#fletes-form").hide();
        $("#mano-de-obra-form").hide();

        @foreach (var evaluacionSuelo in evaluacionesSuelo)
        {
            @:$("#resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo").hide();
            @:$("#titulo-resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo").click(function () {
                @:if ($('#resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo').css('display') === 'block') {
                    @:$("#resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo").hide();
                @:}
                @:else {
                    @:$("#resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo").show();
                @:}
            @:});
        }

        $("#agregar-resultados-evaluacion-suelo").click(function () {
            if ($('#resultados-evaluacion-suelo-form').css('display') === 'block') {
                $("#hidden-agregar-resultados-evaluacion-suelo").val(false);
                $("#resultados-evaluacion-suelo-form").hide();
            }
            else {
                $("#hidden-agregar-resultados-evaluacion-suelo").val(true);
                $("#resultados-evaluacion-suelo-form").show();
            }
        });

        $("#agregar-mecanizacion-labores").click(function () {
            if ($('#mecanizacion-labores-form').css('display') === 'block') {
                $("#hidden-agregar-mecanizacion-labores").val(false);
                $("#mecanizacion-labores-form").hide();
            }
            else {
                $("#hidden-agregar-mecanizacion-labores").val(true);
                $("#mecanizacion-labores-form").show();
            }
        });

        $("#agregar-insumo").click(function () {
            if ($('#insumos-form').css('display') === 'block') {
                $("#hidden-agregar-insumo").val(false);
                $("#insumos-form").hide();
            }
            else {
                $("#hidden-agregar-insumo").val(true);
                $("#insumos-form").show();
            }
        });

        $("#agregar-flete").click(function () {
            if ($('#fletes-form').css('display') === 'block') {
                $("#hidden-agregar-flete").val(false);
                $("#fletes-form").hide();
            }
            else {
                $("#hidden-agregar-flete").val(true);
                $("#fletes-form").show();
            }
        });

        $("#agregar-mano-de-obra").click(function () {
            if ($('#mano-de-obra-form').css('display') === 'block') {
                $("#hidden-agregar-mano-de-obra").val(false);
                $("#mano-de-obra-form").hide();
            }
            else {
                $("#hidden-agregar-mano-de-obra").val(true);
                $("#mano-de-obra-form").show();
            }
        });

        //1. MAQUINARIAS

        $("#MYL__CANTIDAD").keyup(function () {
            var x = ($("#MYL__CANTIDAD").val() != null ? $("#MYL__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#MYL__VALOR__UNITARIO").val() != null ? $("#MYL__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#MYL__VALOR__ITEM").val(res);
        });

        $("#MYL__VALOR__UNITARIO").keyup(function () {
            var x = ($("#MYL__CANTIDAD").val() != null ? $("#MYL__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#MYL__VALOR__UNITARIO").val() != null ? $("#MYL__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#MYL__VALOR__ITEM").val(res);
        });

        //2. INSUMOS

        $("#IN__CANTIDAD").keyup(function () {
            var x = ($("#IN__CANTIDAD").val() != null ? $("#IN__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#IN__VALOR__UNITARIO").val() != null ? $("#IN__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#IN__VALOR__ITEM").val(res);
        });

        $("#IN__VALOR__UNITARIO").keyup(function () {
            var x = ($("#IN__CANTIDAD").val() != null ? $("#IN__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#IN__VALOR__UNITARIO").val() != null ? $("#IN__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#IN__VALOR__ITEM").val(res);
        });

        //3. FLETES

        $("#FL__CANTIDAD").keyup(function () {
            var x = ($("#FL__CANTIDAD").val() != null ? $("#FL__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#FL__VALOR__UNITARIO").val() != null ? $("#FL__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#FL__VALOR__ITEM").val(res);
        });

        $("#FL__VALOR__UNITARIO").keyup(function () {
            var x = ($("#FL__CANTIDAD").val() != null ? $("#FL__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#FL__VALOR__UNITARIO").val() != null ? $("#FL__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#FL__VALOR__ITEM").val(res);
        });

        //4. MANO DE OBRA

        $("#MO__CANTIDAD").keyup(function () {
            var x = ($("#MO__CANTIDAD").val() != null ? $("#MO__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#MO__VALOR__UNITARIO").val() != null ? $("#MO__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#MO__VALOR__ITEM").val(res);
        });

        $("#MO__VALOR__UNITARIO").keyup(function () {
            var x = ($("#MO__CANTIDAD").val() != null ? $("#MO__CANTIDAD").val().replace(",", ".") : 0);
            var y = ($("#MO__VALOR__UNITARIO").val() != null ? $("#MO__VALOR__UNITARIO").val().replace(",", ".") : 0);
            console.log("x = " + x + ", y = " + y + "");
            var res = (x * y).toString().replace(",", ".");
            if (isNaN(res))
                res = 0;
            $("#MO__VALOR__ITEM").val(res);
        });

        $(function () {
            $("input:text").keyup(function () {
                $(this).val($(this).val().replace(/[,]/g, ""));
            });
        });
    });
    </script>
    <link href="~/Scripts/fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <style>
        #link-1, #link-2, #link-3, #link-4, #link-5 {
            width: 250px;
        }

        .resultados-evaluacion-suelo {
            display: block;
            position: relative;
        }

        .mecanizacion-labores {
            display: block;
            position: relative;
        }

        .insumos {
            display: block;
            position: relative;
        }

        .fletes {
            display: block;
            position: relative;
        }

        .mano-de-obra {
            display: block;
            position: relative;
        }

        .trigger {
            color: #e6181a;
            cursor: pointer;
            display: block;
            font-weight: bold;
            padding: 0 0 10px 3px;
            text-decoration: underline;
            position: relative;
        }

        .trigger-no-text-decoration {
            color: #e6181a;
            cursor: pointer;
            display: block;
            font-weight: bold;
            padding: 0 0 10px 3px;
            position: relative;
        }

        .text-align-left {
            text-align: left !important;
        }

        .text-align-center {
            text-align: center !important;
        }

        .text-align-right {
            text-align: right !important;
        }
    </style>
}

<div class="titulo1-consubmenu">@ViewBag.Title</div>
<div class="submenu">
    @foreach (var t in temporadas)
    {
        <div class="submenuitem">
            @if (t.IdTemporada != temporada.IdTemporada)
            {
                @Html.ActionLink(t.Nombre, "index", new { id = t.IdTemporada })
            }
            else
            {
                <span class="submenuitem-selected">@t.Nombre</span>
            }
        </div>
    }
    <div style="clear: both"></div>
</div>

<h2>Predio @Model.PRO_Predio.Nombre &gt; Potrero @Model.Nombre</h2>

@using (Html.BeginForm("potrero", "produccion", FormMethod.Post))
{
    <table class="tabla2">
        <tr>
            <td><label>@Html.LabelFor(m => m.Nombre)</label></td>
            <td>
                @Html.TextBoxFor(m => m.Nombre)
                @Html.ValidationMessageFor(m => m.Nombre)
            </td>
            <td><label>@Html.LabelFor(m => m.Superficie)</label></td>
            <td>
                @Html.TextBoxFor(m => m.Superficie)
                @Html.ValidationMessageFor(m => m.Superficie)
            </td>
        </tr>
        <tr>
            <td><label>@Html.LabelFor(m => m.IdCultivo)</label></td>
            <td>
                @Html.DropDownListFor(m => m.IdCultivo, selectList)
                @Html.ValidationMessageFor(m => m.IdCultivo)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="no-border-bottom" valign="top"><label>Evaluación de Suelo</label></td>
            <td class="no-border-bottom" colspan="3">
                @foreach (var evaluacionSuelo in evaluacionesSuelo)
                {
                    <span id="titulo-resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo" class="trigger-no-text-decoration">
                        <i class="fas fa-check-square"></i> Evaluación realizada en el laboratorio <strong>@evaluacionSuelo.Laboratorio</strong> el día @evaluacionSuelo.Fecha.ToString("dddd, dd MMMM yyyy")
                    </span>
                    <table id="resultados-evaluacion-suelo-@evaluacionSuelo.IdEvaluacionSuelo" class="resultados-evaluacion-suelo" style="width: 100%; margin-top: 0px;">
                        <tr>
                            <td class="label"><label>Fecha</label></td>
                            <td>@evaluacionSuelo.Fecha.ToString("dddd, dd MMMM yyyy")</td>
                            <td class="label"><label>Laboratorio</label></td>
                            <td>@evaluacionSuelo.Laboratorio</td>
                        </tr>
                        <tr>
                            @{ int iX = 0; }
                            @foreach (var item in parametroAnalisis)
                            {
                                if (iX++ % 3 == 0)
                                {
                                    @(new MvcHtmlString("</tr><tr>"))
                                }
                                <td class="label"><label>@item.Nombre</label></td>
                                PRO_ResultadoEvaluacionSuelo resultadoEvaluacionSuelo = evaluacionSuelo.GetResultadoEvaluacionSuelo(item.IdParametroAnalisis);
                                if (resultadoEvaluacionSuelo != null)
                                {
                                    <td>@string.Format("{0:N2}", resultadoEvaluacionSuelo.Valor)</td>
                                }
                            }
                        </tr>
                        <tr>
                            <td colspan="6">
                                <a href="@Url.Action("EliminarEvaluacionSuelo", new { id = evaluacionSuelo.IdEvaluacionSuelo })">Eliminar Evaluación de Suelo</a>
                            </td>
                        </tr>
                    </table>
                }
                <input type="checkbox" id="agregar-resultados-evaluacion-suelo" value="" /> <label for="agregar-resultados-evaluacion-suelo" id="link-1" class="trigger">Agregar Evaluación de Suelo</label>
                <input type="hidden" name="HID__ES__AGREGAR__EVALUACION__SUELO" id="hidden-agregar-resultados-evaluacion-suelo" value="false" />
                <table id="resultados-evaluacion-suelo-form" class="resultados-evaluacion-suelo" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label>Fecha</label></td>
                        <td><input type="text" id="ES__FECHA" name="ES__FECHA" maxlength="10" value="" /></td>
                        <td class="label"><label>Laboratorio</label></td>
                        <td><input type="text" id="ES__LABORATORIO" name="ES__LABORATORIO" maxlength="200" value="" /></td>
                    </tr>
                    <tr>
                        @{ int i = 0; }
                        @foreach (var item in parametroAnalisis)
                        {
                            if (i++ % 3 == 0)
                            {
                                @(new MvcHtmlString("</tr><tr>"))
                            }
                            <td class="label"><label>@item.Nombre</label></td>
                            <td><input type="text" name="ES__PARAMETRO__ANALISIS__@item.IdParametroAnalisis" value="@rand.NextDouble().ToString("N2").Replace(",", ".")" /></td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"><label>Mecanización y Labores</label></td>
            <td colspan="3">
                <table class="form1" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label class="text-align-center">Descripción Labor</label></td>
                        <td class="label"><label class="text-align-center">Descripción Agricultor</label></td>
                        <td class="label"><label class="text-align-center">Mes</label></td>
                        <td class="label"><label class="text-align-center">Cantidad</label></td>
                        <td class="label"><label class="text-align-center">Unidad</label></td>
                        <td class="label"><label class="text-align-center">Valor Unitario</label></td>
                        <td class="label"><label class="text-align-center">Valor Ítem</label></td>
                        <td class="label"></td>
                        <td class="label"></td>
                    </tr>
                    @foreach (var labor in laboresRealizadas)
                    {
                        <tr>
                            <td>@labor.Descripcion</td>
                            <td>@labor.DescripcionAgricultor</td>
                            <td>@labor.Mes</td>
                            <td align="right">@labor.Cantidad.ToString("N2")</td>
                            <td align="center">@labor.Unidad</td>
                            <td align="right">@labor.ValorUnitario.ToString("N0")</td>
                            <td align="right">@labor.ValorItem.ToString("N0")</td>
                            <td>@Html.ActionLink("Editar", "EditarMecanizacionLabores", new { id = labor.IdActividad })</td>
                            <td>@Html.ActionLink("Eliminar", "EliminarMecanizacionLabores", new { id = labor.IdActividad })</td>
                        </tr>
                    }
                </table>
                <input type="checkbox" id="agregar-mecanizacion-labores" value="" /> <label for="agregar-mecanizacion-labores" id="link-2" class="trigger">Agregar Mecanización y Labores</label>
                <input type="hidden" name="HID__MYL__AGREGAR__MECANIZACION__LABORES" id="hidden-agregar-mecanizacion-labores" value="false" />
                <table id="mecanizacion-labores-form" class="mecanizacion-labores" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label>Descripción Labor</label></td>
                        <td>
                            <select id="MYL__DESCRIPCION__LABOR" name="MYL__DESCRIPCION__LABOR">
                                @foreach (var labor in labores)
                                {
                                    <option value="@labor.Descripcion">@labor.Descripcion</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Descripción Agricultor</label></td>
                        <td><input type="text" id="MYL__DESCRIPCION__AGRICULTOR" name="MYL__DESCRIPCION__AGRICULTOR" maxlength="150" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Mes</label></td>
                        <td>
                            <select id="MYL__MES" name="MYL__MES">
                                <option value="enero @DateTime.Now.Year">enero @DateTime.Now.Year</option>
                                <option value="febrero @DateTime.Now.Year">febrero @DateTime.Now.Year</option>
                                <option value="marzo @DateTime.Now.Year">marzo @DateTime.Now.Year</option>
                                <option value="abril @DateTime.Now.Year">abril @DateTime.Now.Year</option>
                                <option value="mayo @DateTime.Now.Year">mayo @DateTime.Now.Year</option>
                                <option value="junio @DateTime.Now.Year">junio @DateTime.Now.Year</option>
                                <option value="julio @DateTime.Now.Year">julio @DateTime.Now.Year</option>
                                <option value="agosto @DateTime.Now.Year">agosto @DateTime.Now.Year</option>
                                <option value="septiembre @DateTime.Now.Year">septiembre @DateTime.Now.Year</option>
                                <option value="octubre @DateTime.Now.Year">octubre @DateTime.Now.Year</option>
                                <option value="noviembre @DateTime.Now.Year">noviembre @DateTime.Now.Year</option>
                                <option value="diciembre @DateTime.Now.Year">diciembre @DateTime.Now.Year</option>
                            </select>
                        </td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Cantidad</label></td>
                        <td><input type="text" id="MYL__CANTIDAD" name="MYL__CANTIDAD" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Unidad</label></td>
                        <td><input type="text" id="MYL__UNIDAD" name="MYL__UNIDAD" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Unitario</label></td>
                        <td><input type="text" id="MYL__VALOR__UNITARIO" name="MYL__VALOR__UNITARIO" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Ítem</label></td>
                        <td><input type="text" id="MYL__VALOR__ITEM" name="MYL__VALOR__ITEM" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"><label>Insumos</label></td>
            <td colspan="3">
                <table class="form1" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label class="text-align-center">Descripción Insumo</label></td>
                        <td class="label"><label class="text-align-center">Descripción Agricultor</label></td>
                        <td class="label"><label class="text-align-center">Mes</label></td>
                        <td class="label"><label class="text-align-center">Cantidad</label></td>
                        <td class="label"><label class="text-align-center">Unidad</label></td>
                        <td class="label"><label class="text-align-center">Valor Unitario</label></td>
                        <td class="label"><label class="text-align-center">Valor Ítem</label></td>
                        <td class="label"></td>
                        <td class="label"></td>
                    </tr>
                    @foreach (var insumo in insumosAplicados)
                    {
                        <tr>
                            <td>@insumo.Descripcion</td>
                            <td>@insumo.DescripcionAgricultor</td>
                            <td>@insumo.Mes</td>
                            <td align="right">@insumo.Cantidad.ToString("N3")</td>
                            <td align="center">@insumo.Unidad</td>
                            <td align="right">@insumo.ValorUnitario.ToString("N0")</td>
                            <td align="right">@insumo.ValorItem.ToString("N0")</td>
                            <td>@Html.ActionLink("Editar", "EditarInsumo", new { id = insumo.IdActividad })
                            <td>@Html.ActionLink("Eliminar", "EliminarInsumo", new { id = insumo.IdActividad })</td>
                        </tr>
                    }
                </table>
                <input type="checkbox" id="agregar-insumo" value="" /> <label for="agregar-insumo" id="link-3" class="trigger">Agregar Insumo</label>
                <input type="hidden" name="HID__IN__AGREGAR__INSUMO" id="hidden-agregar-insumo" value="false" />
                <table id="insumos-form" class="insumos" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label>Descripción Insumo</label></td>
                        <td>
                            <select id="IN__DESCRIPCION__INSUMO" name="IN__DESCRIPCION__INSUMO">
                                @foreach (var insumo in insumos)
                                {
                                    <option value="@insumo.Descripcion">@insumo.Descripcion</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Descripción Agricultor</label></td>
                        <td><input type="text" id="IN__DESCRIPCION__AGRICULTOR" name="IN__DESCRIPCION__AGRICULTOR" maxlength="150" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Mes</label></td>
                        <td>
                            <select id="IN__MES" name="IN__MES">
                                <option value="enero @DateTime.Now.Year">enero @DateTime.Now.Year</option>
                                <option value="febrero @DateTime.Now.Year">febrero @DateTime.Now.Year</option>
                                <option value="marzo @DateTime.Now.Year">marzo @DateTime.Now.Year</option>
                                <option value="abril @DateTime.Now.Year">abril @DateTime.Now.Year</option>
                                <option value="mayo @DateTime.Now.Year">mayo @DateTime.Now.Year</option>
                                <option value="junio @DateTime.Now.Year">junio @DateTime.Now.Year</option>
                                <option value="julio @DateTime.Now.Year">julio @DateTime.Now.Year</option>
                                <option value="agosto @DateTime.Now.Year">agosto @DateTime.Now.Year</option>
                                <option value="septiembre @DateTime.Now.Year">septiembre @DateTime.Now.Year</option>
                                <option value="octubre @DateTime.Now.Year">octubre @DateTime.Now.Year</option>
                                <option value="noviembre @DateTime.Now.Year">noviembre @DateTime.Now.Year</option>
                                <option value="diciembre @DateTime.Now.Year">diciembre @DateTime.Now.Year</option>
                            </select>
                        </td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Cantidad</label></td>
                        <td><input type="text" id="IN__CANTIDAD" name="IN__CANTIDAD" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Unidad</label></td>
                        <td><input type="text" id="IN__UNIDAD" name="IN__UNIDAD" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Unitario</label></td>
                        <td><input type="text" id="IN__VALOR__UNITARIO" name="IN__VALOR__UNITARIO" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Ítem</label></td>
                        <td><input type="text" id="IN__VALOR__ITEM" name="IN__VALOR__ITEM" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"><label>Fletes</label></td>
            <td colspan="3">
                <table class="form1" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label class="text-align-center">Descripción Flete</label></td>
                        <td class="label"><label class="text-align-center">Descripción Agricultor</label></td>
                        <td class="label"><label class="text-align-center">Mes</label></td>
                        <td class="label"><label class="text-align-center">Cantidad</label></td>
                        <td class="label"><label class="text-align-center">Unidad</label></td>
                        <td class="label"><label class="text-align-center">Valor Unitario</label></td>
                        <td class="label"><label class="text-align-center">Valor Ítem</label></td>
                        <td class="label"></td>
                        <td class="label"></td>
                    </tr>
                    @foreach (var flete in fletesRealizados)
                    {
                        <tr>
                            <td>@flete.Descripcion</td>
                            <td>@flete.DescripcionAgricultor</td>
                            <td>@flete.Mes</td>
                            <td align="right">@flete.Cantidad.ToString("N2")</td>
                            <td align="center">@flete.Unidad</td>
                            <td align="right">@flete.ValorUnitario.ToString("N2")</td>
                            <td align="right">@flete.ValorItem.ToString("N2")</td>
                            <td>@Html.ActionLink("Editar", "EditarFlete", new { id = flete.IdActividad })</td>
                            <td>@Html.ActionLink("Eliminar", "EliminarFlete", new { id = flete.IdActividad })</td>
                        </tr>
                    }
                </table>
                <input type="checkbox" id="agregar-flete" value="" /> <label for="agregar-flete" id="link-4" class="trigger">Agregar Flete</label>
                <input type="hidden" name="HID__FL__AGREGAR__FLETE" id="hidden-agregar-flete" value="false" />
                <table id="fletes-form" class="fletes" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label>Descripción Flete</label></td>
                        <td>
                            <select id="FL__DESCRIPCION__FLETE" name="FL__DESCRIPCION__FLETE">
                                @foreach (var flete in fletes)
                                {
                                    <option value="@flete.Descripcion">@flete.Descripcion</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Descripción Agricultor</label></td>
                        <td><input type="text" id="FL__DESCRIPCION__AGRICULTOR" name="FL__DESCRIPCION__AGRICULTOR" maxlength="150" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Mes</label></td>
                        <td>
                            <select id="FL__MES" name="FL__MES">
                                <option value="enero @DateTime.Now.Year">enero @DateTime.Now.Year</option>
                                <option value="febrero @DateTime.Now.Year">febrero @DateTime.Now.Year</option>
                                <option value="marzo @DateTime.Now.Year">marzo @DateTime.Now.Year</option>
                                <option value="abril @DateTime.Now.Year">abril @DateTime.Now.Year</option>
                                <option value="mayo @DateTime.Now.Year">mayo @DateTime.Now.Year</option>
                                <option value="junio @DateTime.Now.Year">junio @DateTime.Now.Year</option>
                                <option value="julio @DateTime.Now.Year">julio @DateTime.Now.Year</option>
                                <option value="agosto @DateTime.Now.Year">agosto @DateTime.Now.Year</option>
                                <option value="septiembre @DateTime.Now.Year">septiembre @DateTime.Now.Year</option>
                                <option value="octubre @DateTime.Now.Year">octubre @DateTime.Now.Year</option>
                                <option value="noviembre @DateTime.Now.Year">noviembre @DateTime.Now.Year</option>
                                <option value="diciembre @DateTime.Now.Year">diciembre @DateTime.Now.Year</option>
                            </select>
                        </td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Cantidad</label></td>
                        <td><input type="text" id="FL__CANTIDAD" name="FL__CANTIDAD" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Unidad</label></td>
                        <td><input type="text" id="FL__UNIDAD" name="FL__UNIDAD" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Unitario</label></td>
                        <td><input type="text" id="FL__VALOR__UNITARIO" name="FL__VALOR__UNITARIO" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Ítem</label></td>
                        <td><input type="text" id="FL__VALOR__ITEM" name="FL__VALOR__ITEM" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top"><label>Mano de Obra</label></td>
            <td colspan="3">
                <table class="form1" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label class="text-align-center">Descripción Mano de Obra</label></td>
                        <td class="label"><label class="text-align-center">Descripción Agricultor</label></td>
                        <td class="label"><label class="text-align-center">Mes</label></td>
                        <td class="label"><label class="text-align-center">Cantidad</label></td>
                        <td class="label"><label class="text-align-center">Unidad</label></td>
                        <td class="label"><label class="text-align-center">Valor Unitario</label></td>
                        <td class="label"><label class="text-align-center">Valor Ítem</label></td>
                        <td class="label"></td>
                        <td class="label"></td>
                    </tr>
                    @foreach (var manoObra in manoObrasRealizadas)
                    {
                        <tr>
                            <td>@manoObra.Descripcion</td>
                            <td>@manoObra.DescripcionAgricultor</td>
                            <td>@manoObra.Mes</td>
                            <td align="right">@manoObra.Cantidad.ToString("N0")</td>
                            <td align="center">@manoObra.Unidad</td>
                            <td align="right">@manoObra.ValorUnitario.ToString("N0")</td>
                            <td align="right">@manoObra.ValorItem.ToString("N0")</td>
                            <td>@Html.ActionLink("Editar", "EditarManoObra", new { id = manoObra.IdActividad })</td>
                            <td>@Html.ActionLink("Eliminar", "EliminarManoObra", new { id = manoObra.IdActividad })</td>
                        </tr>
                    }
                </table>
                <input type="checkbox" id="agregar-mano-de-obra" value="" /> <label for="agregar-mano-de-obra" id="link-5" class="trigger">Agregar Mano de Obra</label>
                <input type="hidden" name="HID__MO__AGREGAR__MANO__DE__OBRA" id="hidden-agregar-mano-de-obra" value="false" />
                <table id="mano-de-obra-form" class="mano-de-obra" style="width: 100%; margin-top: 0px;">
                    <tr>
                        <td class="label"><label>Descripción Mano de Obra</label></td>
                        <td>
                            <select id="MO__DESCRIPCION__MANO__DE__OBRA" name="MO__DESCRIPCION__MANO__DE__OBRA">
                                @foreach (var manoObra in manoObras)
                                {
                                    <option value="@manoObra.Descripcion">@manoObra.Descripcion</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Descripción Agricultor</label></td>
                        <td><input type="text" id="MO__DESCRIPCION__AGRICULTOR" name="MO__DESCRIPCION__AGRICULTOR" maxlength="150" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Mes</label></td>
                        <td>
                            <select id="MO__MES" name="MO__MES">
                                <option value="enero @DateTime.Now.Year">enero @DateTime.Now.Year</option>
                                <option value="febrero @DateTime.Now.Year">febrero @DateTime.Now.Year</option>
                                <option value="marzo @DateTime.Now.Year">marzo @DateTime.Now.Year</option>
                                <option value="abril @DateTime.Now.Year">abril @DateTime.Now.Year</option>
                                <option value="mayo @DateTime.Now.Year">mayo @DateTime.Now.Year</option>
                                <option value="junio @DateTime.Now.Year">junio @DateTime.Now.Year</option>
                                <option value="julio @DateTime.Now.Year">julio @DateTime.Now.Year</option>
                                <option value="agosto @DateTime.Now.Year">agosto @DateTime.Now.Year</option>
                                <option value="septiembre @DateTime.Now.Year">septiembre @DateTime.Now.Year</option>
                                <option value="octubre @DateTime.Now.Year">octubre @DateTime.Now.Year</option>
                                <option value="noviembre @DateTime.Now.Year">noviembre @DateTime.Now.Year</option>
                                <option value="diciembre @DateTime.Now.Year">diciembre @DateTime.Now.Year</option>
                            </select>
                        </td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Cantidad</label></td>
                        <td><input type="text" id="MO__CANTIDAD" name="MO__CANTIDAD" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Unidad</label></td>
                        <td><input type="text" id="MO__UNIDAD" name="MO__UNIDAD" value="" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Unitario</label></td>
                        <td><input type="text" id="MO__VALOR__UNITARIO" name="MO__VALOR__UNITARIO" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Valor Ítem</label></td>
                        <td><input type="text" id="MO__VALOR__ITEM" name="MO__VALOR__ITEM" value="0" /></td>
                        <td class="label"><label></label></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><label>@Html.LabelFor(m => m.CostoFinanciero)</label></td>
            <td>
                @Html.DropDownListFor(m => m.CostoFinanciero, mesesSelectList)
                @Html.ValidationMessageFor(m => m.CostoFinanciero)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label>@Html.LabelFor(m => m.CostoArriendo)</label></td>
            <td>
                @Html.TextBoxFor(m => m.CostoArriendo)
                @Html.ValidationMessageFor(m => m.CostoArriendo)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <input type="submit" value="Guardar Cambios" />
                <input type="button" value="Cancelar" onclick="javascript:window.history.back();" />
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.IdPotrero, new { Value = Model.IdPotrero })
    @Html.HiddenFor(m => m.IdPredio, new { Value = Model.IdPredio })
}