@using AgroFichasWeb.Models
@using AgroFichasWeb.Views

@model List<PrecioServicio>

@{
    ViewBag.Title = "Precios Servicios";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";

    var precioServicio = (PrecioServicio)ViewData["precioServicio"];
    var cultivos = (CultivoContrato)ViewData[""];
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetimepicker-2.5.11/jquery.datetimepicker.css")" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
    <script src="@Url.Content("~/Scripts/datetimepicker-2.5.11/build/jquery.datetimepicker.full.min.js")"></script>
}
@section CustomScripts
{
    <script>
        jQuery.datetimepicker.setLocale('es');
        jQuery('#dateTime1').datetimepicker({
            i18n: {
                es: {
                    months: [
                        'Enero', 'Febrero', 'Marzo', 'Abril',
                        'Mayo', 'Junio', 'Julio', 'Agosto',
                        'Septiembre', 'Octubre', 'Noviembre', 'Diciembre',
                    ],
                    dayOfWeek: [
                        "Do", "Lu", "Ma", "Mi",
                        "Ju", "Vi", "Sa",
                    ]
                }
            },
            dayOfWeekStart: 1,
            format: 'Y/m/d',
            mask: true,
            step: 1,
            timepicker: false,
            todayButton: true,
            value: '@string.Format("{0:yyyy/MM/dd}", (precioServicio.Fecha1 == null ? DateTime.Now : precioServicio.Fecha1))',
            weeks: true
        });
    </script>
}
<section role="main" class="content-body">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">
                        Filtros de Búsqueda
                        
                    </h2>
                </header>
                <div class="panel-body">
                    <div class="form-inline center">
                        @using (Html.BeginForm("index", "preciosservicio", new { id = 0 }, FormMethod.Get))
                        {
                            @*<div class="form-group">
                                    @Html.Partial("CultivoSelector")
                                </div>*@
                            <div class="form-group">
                                @Html.DropDownList("IdCultivo", precioServicio.GetCultivo(precioServicio.IdCultivoSelect), "(Todos los Cultivos)", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("IdSucursal", precioServicio.GetSucursal(precioServicio.IdSucursalSelect), "(Todas las Sucursales)", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("IdTipoServicio", precioServicio.GetTipoServicio(precioServicio.IdTipoServicioSelect), "(Todos los Servicios)", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("Fecha1", precioServicio.Fecha1, new { @class = "form-control", id = "dateTime1" })
                            </div>
                            <div class="visible-sm clearfix mt-sm mb-sm"></div>
                            @*<input type="text" name="key" class="form-control" value="@ViewData["key"]" /> *@<input class="btn btn-default" type="submit" value="Buscar" />
                            <div class="clearfix visible-xs mb-sm"></div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">
                Precios Spot
                @if (permisosUsuario.Crear)
                {
                    <div class="mb-md" style="right: 15px;position: absolute;top: 15px;">
                        <a href="@Url.Action("Crear", "PreciosServicio", new { })" class="btn btn-primary">Crear Precio de Servicio <i class="fa fa-plus"></i></a>
                    </div>
                }
            </h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable">
                <thead>
                    <tr>
                        <th>Sucursal</th>
                        <th>Cultivo</th>
                        <th>Fecha</th>
                        <th>Servicio</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Sucursal.Nombre</td>
                        <td>@item.Cultivo.Nombre</td>
                        <td>@item.Fecha</td>
                        <td>@item.TipoServicio.Nombre</td>
                        <td>@item.Valor</td>
                        <td>
                            @if (permisosUsuario.Crear)
                            {
                                <button id="edit_@item.IdPrecioServicio " onclick="window.location.href='@Url.Action("editar", new { id = item.IdPrecioServicio })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"> <i class="fa fa-edit"></i></button>
                            }
                            @if (permisosUsuario.Borrar)
                            {
                                <button id="delete_@item.IdPrecioServicio " onclick="window.location.href='@Url.Action("eliminar", new { id = item.IdPrecioServicio })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Eliminar"> <i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</section>

