@using AgroFichasWeb.Models
@model List<rptl_InformeCostoPorTramoResult>
@{
    ViewBag.Title = "Informe Costos por Tramo";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";

    int? origen = null;
    int? destino = null;
    DateTime? fechaDesde = null;
    DateTime? fechaHasta = null;
    var dc = new AgroFichasDBDataContext();
    if (ViewData["origen"] != null)
    {
        origen = (int?)ViewData["origen"];
    }
    if (ViewData["destino"] != null)
    {
        destino = (int?)ViewData["destino"];
    }
    if (ViewData["fechaDesde"] != null)
    {
        fechaDesde = (DateTime?)ViewData["fechaDesde"];
    }
    if (ViewData["fechaHasta"] != null)
    {
        fechaHasta = (DateTime?)ViewData["fechaHasta"];
    }
}

@section filter {
    <style>
        input[type="text"] {
            width:150px;
        }

        select {
            width:155px;
        }
    </style>

    @using (Html.BeginForm())
    {
        <table class="filter">
            <tr>
                <td>@Html.ActionLink("Volver", "index")</td>
                <td>@Html.Partial("FechaDesdeSelector")</td>
                <td>@Html.Partial("FechaHastaSelector")</td>
                <td>@Html.Partial("TramoSelector")</td>
                <td><input type="hidden" name="run" value="1" /></td>
                <td><input type="submit" value="Buscar" /></td>
            </tr>
        </table>
    }
}

<table width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td class="RptEncabezadoListado">Tramo</td>
        <td class="RptEncabezadoListado">Kgs. Transportados</td>
        <td class="RptEncabezadoListado">Monto Pagado</td>
        <td class="RptEncabezadoListado">Media</td>
        <td class="RptEncabezadoListado">Moda</td>
        <td class="RptEncabezadoListado">Máximo</td>
        <td class="RptEncabezadoListado">Mínimo</td>
    </tr>
    @foreach (var item in Model)
    {
        var modas = dc.rptl_ModaParaInformeCostoPorTramo(fechaDesde, fechaHasta, item.Origen, item.Destino);
        var sb = new System.Text.StringBuilder();
        <tr class="RptItemListado" valign="top">
            <td>@(string.Format("{0} {1}-{2} {3}", item.strNombreSucursalOrigen, item.strNombreCortoBodegaOrigen, item.strNombreSucursalDestino, item.strNombreCortoBodegaDestino))</td>
            <td>@item.KgsTransportados.Value.ToString("N0")</td>
            <td>@item.MontoPagado.Value.ToString("C0")</td>
            <td>@item.Media.Value.ToString("N2")</td>
            <td>
                @foreach (var moda in modas)
                {
                    sb.Append(string.Format("{0},", moda.Moda));
                }
                @if (!string.IsNullOrEmpty(sb.ToString()))
                {
                    <span>@sb.ToString().Substring(0, (sb.ToString().Length - 1))</span>
                }
                else
                {
                    <span></span>
                }
            </td>
            <td>@item.Máximo.Value.ToString("N2")</td>
            <td>@item.Mínimo.Value.ToString("N2")</td>
        </tr>
    }
</table>