@using AgroFichasWeb.Models
@model List<CAL_Pale>
@{
    ViewBag.Title = "Sacos Dañados";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
    Permiso permisosUsuario = (Permiso)ViewData["permisosUsuario"];
    var reprocesoSacosDañadosPallets = (CAL_ReprocesoSacosDañadosPallets)ViewData["reprocesoSacosDañadosPallets"];
}
@section VendorCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/select2-bootstrap-theme/select2-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/css/datatables.css")" />
    <link href="@Url.Content("~/Content/porto/vendor/sweetalert/dist/sweetalert.css")" rel="stylesheet" />
}
@section VendorScripts
{
    <script src="@Url.Content("~/Content/porto/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>
    <script src="@Url.Content("~/Content/porto/javascripts/ui-elements/jquery.sweet-alert.init.js")"></script>
    <script src="@Url.Content("~/Content/porto/vendor/sweetalert/dist/sweetalert.min.js")"></script>
}
@section CustomScripts
{
    <script>
        $('#datatable').dataTable({
            "ordering": true,
            "order": [1, 'desc'],
            "searching": true,
            "lengthChange": true,
            "language": {
                "emptyTable": "No hay registros"
            }
        });
    </script>
}
@if (!string.IsNullOrEmpty(Request["errMsg"]) || !string.IsNullOrEmpty(Request["okMsg"]))
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Request["okMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Request["okMsg"]
                    </div>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Request["errMsg"]))
        {
            <div class="col-sm-12">
                <div class="mb-md">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.Raw(Server.UrlDecode(Request["errMsg"]))
                    </div>
                </div>
            </div>
        }
    </div>
}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Seleccione Pallet</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable">
            <thead>
                <tr>
                    <th>Código QR</th>
                    <th>Correlativo</th>
                    <th>Tipo</th>
                    <th>Cantidad Paletizada</th>
                    <th>Cantidad Disponible en el Pallet</th>
                    <th>Control de Fechado</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CAL_Pale pale in Model)
                {
                    <tr valign="top">
                        <td><img src="@pale.GetImgSrc()" width="100" /></td>
                        <td>@pale.IdPale<br />@pale.CodigoInterno</td>
                        <td>@pale.CAL_TipoPale.Descripcion</td>
                        <td>@pale.CantidadPaletizada</td>
                        <td>@pale.GetCantidadDisponible()</td>
                        <td>
                            @if (pale.IdControlFechado.HasValue)
                            {
                                @pale.CAL_FTSacoControlFechado.Descripcion
                            }
                        </td>
                        <td>
                            <span style="display: block">@string.Format("{0:dd/MM/yyyy HH:mm:ss}", pale.FechaHoraIns)</span>
                            @pale.GetTurno().CAL_TipoTurno.Descripcion
                        </td>
                        <td>
                            <button id="@string.Format("view_{0}", pale.IdPale)" onclick="window.location.href='@Url.Action("UsarEstePallet", "CALSacosDañados", new { id = pale.IdPale, IdReprocesoSacosDañadosPallets = reprocesoSacosDañadosPallets.IdReprocesoSacosDañadosPallets })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Usar este Pallet"> <i class="fa fa-check-circle"></i></button>
                            <button id="@string.Format("history_{0}", pale.IdPale)" onclick="window.location.href='@Url.Action("VerHistorialPallet", "CALSacosDañados", new { id = pale.IdPale, IdReprocesoSacosDañadosPallets = reprocesoSacosDañadosPallets.IdReprocesoSacosDañadosPallets })'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ver Historial del Pallet"> <i class="fa fa-history"></i></button>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->