@using AgroFichasWeb.Models
@using AgroFichasWeb.ViewModels

@model ProcesoIngreso
@{
   
    ViewBag.NombreSeccion = "Registrar Análisis " + Model.Temporada.Nombre;
    ViewBag.Title = "El análisis ha sido registrado con éxito";
}


    <h2>@ViewBag.Title</h2>
    @Html.Partial("~/Views/Controls/ActionResultMessages.cshtml")

    <fieldset class="dataForm">
        @Html.Partial("IngresoAnalistas", Model)
        <p class="okcancel">
            <input type="submit" value="Imprimir Este Análisis" id="btnPrint" onclick="javascript: printIngreso(1);" /> o @Html.ActionLink("Registrar otro análisis", "analisis1", "recepciones", new { idTemporada = Model.IdTemporada }, null)  
        </p>
    </fieldset>

    <script type="text/javascript">

        function printIngreso(copias) {
            window.open('@Url.Action("printingresoanalista", "recepciones", new { id = Model.IdProcesoIngreso, copias = "cpis" })'.replace('cpis', copias));
        }

    </script>    