@using AgroFichasWeb.Models
@using AgroFichasWeb.ViewModels

@model ProcesoIngreso
@{

    ViewBag.NombreSeccion = "Cerrar " + Model.Temporada.Nombre;
    ViewBag.Title = "El cierre ha sido registrado con éxito";
}


<h2>@ViewBag.Title</h2>
@Html.Partial("~/Views/Controls/ActionResultMessages.cshtml")

<fieldset class="dataForm">
    @Html.Partial("Ingreso", Model)
    <p class="okcancel">
        <input type="submit" value="Imprimir Este Cierre" id="btnPrint" onclick="javascript: printIngreso(3);" /> o @Html.ActionLink("Registrar otro cierre", "cerrar1", "recepciones", new { idTemporada = Model.IdTemporada }, null)
    </p>
</fieldset>

<script type="text/javascript">

        function printIngreso(copias) {
            window.open('@Url.Action("printingreso", "recepciones", new { id = Model.IdProcesoIngreso, copias = "cpis" })'.replace('cpis', copias));
        }

</script>    